### Variable creation

In [61]:

from datetime import date, timedelta, datetime
from random import choices
import random
import pandas as pd
import numpy as np
import string
import copy

In [76]:
### person nummer creation 

def person_nummer_creation(amount, sample_year): 
    test_date1, test_date2 = date(1900, 1, 1), date(sample_year-16, 1, 1)
    res_dates = [test_date1]
 
    # loop to get each date till end date
    while test_date1 != test_date2:
        test_date1 += timedelta(days=1)
        res_dates.append(test_date1)
    res = choices(res_dates, k=amount)

    person_nummer = []
    for i in range(amount):
        #not perfect for now
        rand_num = random.randint(1000, 9999) 
        num_string = str(rand_num)
        current = res[i]
        current_string = current.strftime("%Y%m%d-")
        person_nummer.append(current_string + num_string)
    # printing 
    return person_nummer

PersonNr= person_nummer_creation(10, 2005)
print(PersonNr)

['19250429-7397', '19631007-9210', '19730831-9538', '19070212-5346', '19720913-5204', '19210304-8531', '19460320-4996', '19600830-7179', '19480423-8877', '19070624-6231']

## Number of Children

In [31]:
##number of children 


#1.6 children per women --> difference to foreign born were its about 2 children per woman --> should I take that into accoumt
# would make sense for trial analysis
#uniform

def create_children(amount, sample_year):
    

    #distribution of children: #amount of children per person

    mean = 1.16  # Mean of the normal distribution -- lower than what is given as it most likely is not an actual normal
    stddev = 3  # Standard deviation of the normal distribution
    lower_bound = 0.0  # Minimum value (never below 0)

    # Generate num_samples samples from a standard normal distribution
    samples = np.random.normal(loc=mean, scale=stddev, size=amount)

    # Discretize the samples by rounding to the nearest integer
    discretized_samples = np.round(samples).astype(int)
    #no samples below 0
    discretized_samples[discretized_samples < 0] = 0
    #create variables
    barn0_3 = []
    barn4_6 = []
    barn7_10 = []
    barn11_15 = []
    barn16_17 = []
    barn18plus= []
    barn18_19 = []
    barn20plus = []
    if sample_year < 2005:
        options = ["barn0_3", "barn4_6", "barn7_10", "barn11_15", "barn16_17", "barn18plus"]
    else: 
        options = ["barn0_3", "barn4_6", "barn7_10", "barn11_15", "barn16_17", "barn18_19", "barn20plus"]
    for i in range(len(discretized_samples)):
        count = discretized_samples[i]
        barn0_3.append(0)
        barn4_6.append(0)
        barn7_10.append(0)
        barn11_15.append(0)
        barn16_17.append(0)
        barn18plus.append(0)
        barn18_19.append(0)
        barn20plus.append(0)
        if count >0:
            children = choices(options, k= count)
            #make sure people dont have too many children
            for c in children:
                if c == "barn0_3": 
                    barn0_3[-1] += 1
                elif c == "barn4_6":
                    barn4_6[-1] += 1
                elif c == "barn7_10":
                    barn7_10[-1] += 1
                elif c == "barn11_15":
                    barn11_15[-1] += 1
                elif c == "barn16_17":
                    barn16_17[-1] += 1
                elif c == "barn18plus":
                    barn18plus[-1] += 1
                elif c == "barn18_19":
                    barn18_19[-1] += 1
                elif c=="barn20plus":
                    barn20plus[-1] += 1
                    
    return pd.DataFrame(list(zip(barn0_3, barn4_6, barn7_10, barn11_15, barn16_17, barn18plus, barn18_19, barn20plus)), 
                        columns=["barn0_3", "barn4_6", "barn7_10", "barn11_15", "barn16_17", "barn18plus", "barn18_19", "barn20plus"])

results_df = create_children(1000, 2005)
print(results_df)

     barn0_3  barn4_6  barn7_10  barn11_15  barn16_17  barn18plus  barn18_19  \
0          0        0         0          0          0           0          0
1          0        0         0          0          0           0          0
2          0        0         0          0          1           0          0
3          1        1         0          0          0           0          0
4          0        2         0          0          1           0          0
..       ...      ...       ...        ...        ...         ...        ...
995        0        0         1          0          0           0          0
996        0        0         0          0          0           0          0
997        1        0         0          0          0           0          0
998        0        0         0          0          0           0          0
999        0        0         0          0          0           0          0

     barn20plus
0             0
1             0
2             1
3             1
4             0
..          ...
995           0
996           0
997           0
998           0
999           0

[1000 rows x 8 columns]

## FamID

In [77]:

# Define a function to convert a date string to the first date
def create_date_object(date_string):
    date_format = "%Y%m%d"
    date_object = datetime.strptime(date_string[:8], date_format)

    return date_object


#shuffle group --> currently not taking into account where they live --> we should do 
#everyone is their own family
def create_famID(person_nummer): 
    person_options = copy.deepcopy(person_nummer)
    # Define the minimum and maximum group size
    min_group_size = 1
    max_group_size = 4

    # Shuffle the list randomly
    #random.shuffle(person_nummer)

    # Create random groups with random group sizes
    groups = []
    famID= []
    while person_options:
        group_size = random.randint(min_group_size, max_group_size)
        # remove a random element from list
        if group_size<= len(person_options):
            group = random.sample(person_options, k=group_size)
            print(group)
            for i in group: 
                
                person_options.remove(i)
            #print(person_options)
            groups.append(group)
    for group in groups: 
        print(group)
        birthdays = [create_date_object(date) for date in group]
        oldest = birthdays.index(min(birthdays))
        for i in range(1,len(group)):
            famID.append(group[oldest])
    return famID
famID = create_famID(PersonNr)


# Apply the function to each date string in the list using a list comprehension

print(len(PersonNr))
print(len(famID))

#randomely create groups? and take oldest or youngest member?

#average household size 2.15 --> distribution of household sizes(?)

['19480423-8877', '19250429-7397']
['19070624-6231', '19210304-8531']
['19460320-4996']
['19631007-9210', '19720913-5204', '19730831-9538']
['19600830-7179', '19070212-5346']
['19480423-8877', '19250429-7397']
['19070624-6231', '19210304-8531']
['19460320-4996']
['19631007-9210', '19720913-5204', '19730831-9538']
['19600830-7179', '19070212-5346']
10
5

In [78]:
def create_famID(person_nummer): 
    
    # Define the minimum and maximum group size
    min_group_size = 1
    max_group_size = 4

    # Shuffle the list randomly
    #random.shuffle(person_nummer)

    # Create random groups with random group sizes
    groups = []
    famID= []
    while person_nummer:
        group_size = random.randint(min_group_size, max_group_size)
        group = person_nummer[:group_size]
        person_nummer = person_nummer[group_size:]
        groups.append(group)

    for group in groups: 
            
        birthdays = [create_date_object(date) for date in group]
        oldest = birthdays.index(min(birthdays))
        for i in range(len(birthdays)):
            famID.append(group[oldest])
    return famID

famID = create_famID(PersonNr)


# Apply the function to each date string in the list using a list comprehension

print(PersonNr)
print(famID)

['19250429-7397', '19631007-9210', '19730831-9538', '19070212-5346', '19720913-5204', '19210304-8531', '19460320-4996', '19600830-7179', '19480423-8877', '19070624-6231']
['19250429-7397', '19631007-9210', '19631007-9210', '19070212-5346', '19070212-5346', '19210304-8531', '19210304-8531', '19070624-6231', '19070624-6231', '19070624-6231']

## Utbildning

#SUN2000Niva --> and old utbildningsvivå 


Sun2000niva_old Utbildningsnivå, högsta, aggregerad
till 7 'svenska' nivåer
1990-2019 Lisa UReg
Sun2000niva Utbildningsnivå, högsta avslutade,
SUN2000
1990-2019 Lisa UReg
Sun2000Inr Utbildningsinriktning, högsta
avslutade, SUN2000
1990-2019 Lisa UReg
Sun2000Grp Utbildningsgrupp, högsta avslutade,
SUN2000
1990-2019 Lisa UReg
ExamAr Utbildningsår (avslutningsår högsta
utbildning)
1990-2019 Lisa UReg
ExamKommun Utbildningskommun (avslutningsår
högsta utbildning)
2000-2019 Lisa UR

In [27]:
grupper = pd.read_excel("variable_data/grupper.xlsx", header=None).iloc[:,1] #currently 2020

#get rid of spaces
grupper

0     Folkskoleutbildning och motsvarande           ...
1     Grundskoleutbildning och motsvarande          ...
2     Samhällsvetenskaplig, social och humanistisk g...
3     Naturvetenskaplig gymnasieutbildning          ...
4     Gymnasial utbildning inom pedagogik och läraru...
                            ...
92    Transportutbildning på eftergymnasial nivå    ...
93    Övrig eftergymnasial utbildning inom tjänster ...
94    Gymnasial utbildning, okänd inriktning        ...
95    Eftergymnasial utbildning, okänd inriktning   ...
96                                                  NaN
Name: 1, Length: 97, dtype: object

In [14]:
#using 2020,which hopefully does not matter

utbildning = pd.read_excel("variable_data/utbildningsgrupper-sun-2020.xlsx").iloc[:,1:5]

utbildning

,Utbildningsgrupper 2020,Nivåkoder SUN 2020,Inriktningskoder SUN 2020,Kommentar
0,0 Allmän utbildning,NaN,NaN,NaN
1,Folkskoleutbildning och motsvarande ...,1,"010a, 010x",NaN
2,Grundskoleutbildning och motsvarande ...,2,"010a, 010x",NaN
3,"Samhällsvetenskaplig, social och humanistisk g...",3,"010a-010b, 010x",Inkluderar samtliga inriktningar inom det samh...
4,Naturvetenskaplig gymnasieutbildning ...,"3, 413",010c,Inkluderar samtliga inriktningar inom det natu...
...,...,...,...,...
101,Transportutbildning på eftergymnasial nivå ...,"4-5 (exkl. 412, 522, 532)",840,NaN
102,Övrig eftergymnasial utbildning inom tjänster ...,NaN,NaN,NaN
103,9 Okänd,NaN,NaN,NaN
104,"Gymnasial utbildning, okänd inriktning ...",3,999,NaN
105,"Eftergymnasial utbildning, okänd inriktning ...",4-6,999,NaN

In [17]:
result_dict = utbildning.set_index('Utbildningsgrupper 2020')['Inriktningskoder SUN 2020'].to_dict()

result_dict

{'0 Allmän utbildning ': nan,
 'Folkskoleutbildning och motsvarande                                                                 ': '010a, 010x',
 'Grundskoleutbildning och motsvarande                                                                ': '010a, 010x',
 'Samhällsvetenskaplig, social och humanistisk gymnasieutbildning                                     ': '010a-010b, 010x',
 'Naturvetenskaplig gymnasieutbildning                                                                ': '010c',
 '1 Pedagogik och lärarutbildning': nan,
 'Gymnasial utbildning inom pedagogik och lärarutbildning                                           ': 1,
 'Minst 30 högskolepoäng inom pedagogik och lärarutbildning, ej examen                                              ': 1,
 'Förskollärarutbildning                                                                              ': '143 exkl. 143b',
 'Fritidspedagogutbildning                                                                            ': '143b',
 'Lärarutbildning för grundskolans tidiga åldrar                                                       ': 144,
 'Ämneslärarutbildning, allmänna ämnen                                                                ': 145,
 'Lärarutbildning i praktisk-estetiska ämnen                                              ': '146g-146l',
 'Speciallärar- och specialpedagogutbildning                                                                              ': '149a, 149d',
 'Yrkeslärarutbildning                                                                                ': '146a-146f, 146x',
 'Övrig eftergymnasial utbildning inom pedagogik och lärarutbildning                                 ': nan,
 '2 Humaniora och konst': nan,
 'Estetisk utbildning på gymnasial nivå                                                               ': '2 exkl. 213',
 'Gymnasial utbildning för medieproduktion                                                            ': 213,
 'Minst 30 högskolepoäng inom humaniora och konst, ej examen                                        ': 2,
 'Humanistisk högskoleutbildning (minst 3 år)                                                         ': '211b, 212c, 222-229',
 'Konstnärlig eftergymnasial utbildning                                                               ': '21, exkl. 211b, 212c, 213',
 'Medieproduktion, eftergymnasial utbildning                                                          ': 213,
 'Teologisk eftergymnasial utbildning (minst 3 år)                                                           ': 221,
 'Övrig eftergymnasial utbildning inom humaniora och konst                                            ': nan,
 '3 Samhällsvetenskap, juridik, handel, administration ': nan,
 'Ekonomisk gymnasieutbildning': '340a',
 'Yrkesinriktad utbildning på gymnasial nivå inom handel och administration                           ': '3 exkl. 340a i kombination med nivå 312, 322, 332, 336',
 'Minst 30 högskolepoäng inom samhällsvetenskap, ekonomi och juridik, ej examen                              ': 3,
 'Biblioteks- och informationsvetenskaplig högskoleutbildning (minst 3 år)                            ': 322,
 'Ekonomutbildning (högskoleutbildning minst 3 år)                                                    ': '314, 340',
 'Högskoleutbildning inom organisation, administration och förvaltning (minst 3 år)                       ': 345,
 'Juridisk högskoleutbildning (minst 3 år)                                                            ': 380,
 'Journalist- och medieutbildning (eftergymnasial)                                                    ': 321,
 'Högskoleutbildning i psykologi och psykoterapi (minst 3 år)                                         ': 311,
 'Samhälls- och beteendevetenskaplig högskoleutbildning (minst 3 år)                                  ': '31 exkl. 311, 314',
 'Övrig eftergymnasial utbildning inom samhällsvetenskap, juridik, handel och administration                            ': nan,
 '4 Naturvetenskap, matematik och informations- och kommunikationsteknik (IKT)': nan,
 'Yrkesinriktad gymnasieutbildning inom naturvetenskap, matematik och IKT                               ': 4,
 'Minst 30 högskolepoäng inom naturvetenskap, matematik och IKT ej examen                                  ': 4,
 'Programmerar- och systemerarutbildning (eftergymnasial)                                             ': '48 exkl. 481b',
 'Naturvetenskaplig högskoleutbildning (minst 3 år)                                                   ': '42, 44, 46, 481b',
 'Övrig eftergymnasial utbildning inom naturvetenskap, matematik och IKT               ': nan,
 '5 Teknik och tillverkning ': nan,
 'Tekniskt gymnasium, 1-3 år                                                                          ': 5,
 'Gymnasieutbildning inom bygg                   ': '582 exkl. 582f',
 'Gymnasieutbildning inom elektro- och datateknik                   ': '522 exkl. 522d, 523 ',
 'Gymnasieutbildning inom fordonsteknik            ': 525,
 'Gymnasieutbildning inom textil- och konfektionsteknik            ': 542,
 'Gymnasieutbildning inom livsmedel       ': 541,
 'Gymnasieutbildning inom processteknik       ': '542d, 543d-543f',
 'Gymnasieutbildning inom energi och VVS       ': '522d, 582f',
 'Gymnasieutbildning inom träteknik': '543c',
 'Gymnasieutbildning inom verkstadsteknik': 521,
 'Övrig gymnasial utbildning inom teknik och tillverkning                                           ': nan,
 'Minst 30 högskolepoäng inom teknik och tillverkning, ej examen                                                 ': 5,
 'Arkitekt- och landskapsarkitektutbildning                                                           ': '581c-581d',
 'Civilingenjörsutbildning inom samhällsbyggnad, byggnadsteknik och miljöteknik                                  ': '527a, 527x, 58 exkl. 581c-581d',
 'Civilingenjörsutbildning inom maskin, fordon, farkost och industriell ekonomi                               ': '521a, 521x, 525a, 525x, 526a, 526x',
 'Civilingenjörsutbildning inom elektroteknik, teknisk fysik och datateknik                                        ': '520a, 520x, 522a, 522x, 523a-523b, 523x',
 'Civilingenjörsutbildning inom kemi- och bioteknik, material- och geoteknik                              ': '524a, 524x, 540a, 540x, 541a, 541x, 542a, 542x, 543a, 543x, 544a, 544x, 549z',
 'Övrig civilingenjörsutbildning                                                  ': '529a, 529x',
 'Ingenjörsutbildning inom samhällsbyggnad, byggnadsteknik och miljöteknik (eftergymnasial)                                  ': '527b, 527x, 580b, 580x, 581b, 581x, 582b, 582x, 589z',
 'Ingenjörsutbildning inom maskin, fordon, farkost och industriell ekonomi  (eftergymnasial)                         ': '521 exkl. 521a, 525 exkl. 525a, 526 exkl. 526a',
 'Ingenjörsutbildning inom elektroteknik, teknisk fysik och datateknik (eftergymnasial)                                ': '520b, 520x, 522b, 522d, 522x, 523c, 523d, 523e, 523f, 523x',
 'Ingenjörsutbildning inom kemi- och bioteknik, material- och geoteknik (eftergymnasial)                ': '524b, 524c, 524d, 524x, 540b, 540x, 541b, 541x, 542b, 542x, 543b, 543c, 543x, 544b, 544x, 549z',
 'Övrig ingenjörsutbildning (eftergymnasial)': '529b, 529x',
 'Övrig eftergymnasial utbildning inom teknik och tillverkning                                              ': nan,
 '6 Lant- och skogsbruk samt djursjukvård ': nan,
 'Gymnasial utbildning inom lant- och skogsbruk samt djursjukvård                                     ': '6 exkl. 621a-621b,  622a-622b, 623a-623b, 640a',
 'Minst 30 högskolepoäng inom lant- och skogsbruk samt djursjukvård, ej examen                         ': 6,
 'Lantbruksvetenskaplig högskoleutbildning (minst 3 år)                                               ': '620, 621, 622',
 'Skogsbruksvetenskaplig högskoleutbildning (minst 3 år)                                              ': 623,
 'Veterinärutbildning                                                                                 ': '640a, 640x',
 'Övrig eftergymnasial utbildning inom lant- och skogsbruk, samt djursjukvård                              ': nan,
 '7  Hälso- och sjukvård samt social omsorg ': nan,
 'Gymnasial utbildning med inriktning mot barn och ungdom                                             ': 761,
 'Omvårdnads- och omsorgsutbildning på gymnasial nivå                                                 ': '723o-723x, 762a-762c, 762x',
 'Tandvårdsutbildning på gymnasial nivå                                                               ': '724d-724x',
 'Övrig gymnasial utbildning inom hälso- och sjukvård och social omsorg                                   ': nan,
 'Minst 30 högskolepoäng inom hälso- o sjukvård och social omsorg, ej examen                        ': 7,
 'Apotekarutbildning                                                                                  ': '727a, 727x',
 'Arbetsterapeututbildning                                                                            ': '726b',
 'Biomedicinsk analytikerutbildning                                         ': '725d',
 'Fritidsledarutbildning (eftergymnasial)                                                             ': '761c',
 'Läkarutbildning                                                                                     ': 721,
 'Receptarieutbildning                                                                                ': '727b',
 'Fysioterapeututbildning                                                       ': '726a',
 'Sjuksköterskeutbildning                                                                             ': '723a-723n, 725f',
 'Social service- och omsorgsutbildning                                                                            ': '762a-c',
 'Socionomutbildning                                                                                  ': '762d',
 'Tandhygienistutbildning                                                                             ': '724d',
 'Tandläkarutbildning                                                                                 ': '724a-724c, 724x',
 'Övrig eftergymnasial utbildning inom hälso- och sjukvård och social omsorg                              ': nan,
 '8 Tjänster': nan,
 'Hotell- och restaurangutbildning på gymnasial nivå                                                  ': 811,
 'Transportutbildning på gymnasial nivå                                                               ': 840,
 'Övrig gymnasial utbildning inom tjänster                                               ': nan,
 'Minst 30 högskolepoäng inom tjänster, ej examen                                         ': 8,
 'Militär utbildning på eftergymnasial nivå                                                       ': 863,
 'Polisutbildning                                                                                     ': '861a',
 'Transportutbildning på eftergymnasial nivå                                                          ': 840,
 'Övrig eftergymnasial utbildning inom tjänster                                          ': nan,
 '9 Okänd': nan,
 'Gymnasial utbildning, okänd inriktning                                                                 ': 999,
 'Eftergymnasial utbildning, okänd inriktning                                                                   ': 999}

In [36]:
def random_sampler(start, end, number):
    output = []
    for k in range(number):
        output.append(random.randint(start, end))
        
    return output


#basic random creation of the numbers 
def Sun2000Inr_creator(amount): 
    number = random_sampler(100,999, amount)
    alphabet = string.ascii_lowercase
    random_letters = choices(alphabet, k=amount)
    combined_list = [str(num) + letter for num, letter in zip(number, random_letters)]
    return combined_list

def create_utbildning(amount):

    #probably not numbers because we save 000 as well --> do we need to make sure it matches --> question matteo, do we have both
    #or just one each
    Sun2000niva_old = random_sampler(10000,99999, amount)

    #numbers of three --> not all numbers are possible but does it really matter?
    SUN2000Niva = random_sampler(100,999, amount)




    SUN2000Inr = Sun2000Inr_creator(amount)


#name of the groups maybe sample from a file 


#currently groups dont match
    grupper = pd.read_excel("variable_data/grupper.xlsx", header=None).iloc[:,1]
    SUN2000Grp = choices(grupper, k=amount)
    return pd.DataFrame(list(zip(Sun2000niva_old, SUN2000Niva, SUN2000Inr, SUN2000Grp)), 
                        columns=["Sun2000niva_old", "SUN2000Niva", "SUN2000Inr", "SUN2000Grp"])


utbildning = create_utbildning(1000)
print(utbildning)

     Sun2000niva_old  SUN2000Niva SUN2000Inr  \
0              49728          811       128i
1              32915          559       457n
2              26342          226       339d
3              54732          774       124a
4              17518          492       897f
..               ...          ...        ...
995            43633          738       515l
996            95465          957       657j
997            15558          863       760x
998            83309          173       992k
999            40972          166       993w

                                            SUN2000Grp
0    Tandläkarutbildning                           ...
1    Speciallärar- och specialpedagogutbildning    ...
2    Ingenjörsutbildning inom samhällsbyggnad, bygg...
3    Övrig eftergymnasial utbildning inom pedagogik...
4    Övrig eftergymnasial utbildning inom samhällsv...
..                                                 ...
995  Minst 30 högskolepoäng inom hälso- o sjukvård ...
996  Minst 30 högskolepoäng inom humaniora och kons...
997  Lärarutbildning i praktisk-estetiska ämnen    ...
998  Transportutbildning på eftergymnasial nivå    ...
999  Civilingenjörsutbildning inom kemi- och biotek...

[1000 rows x 4 columns]

In [37]:
output = utbildning.join(results_df)
print(output)

     Sun2000niva_old  SUN2000Niva SUN2000Inr  \
0              49728          811       128i
1              32915          559       457n
2              26342          226       339d
3              54732          774       124a
4              17518          492       897f
..               ...          ...        ...
995            43633          738       515l
996            95465          957       657j
997            15558          863       760x
998            83309          173       992k
999            40972          166       993w

                                            SUN2000Grp  barn0_3  barn4_6  \
0    Tandläkarutbildning                           ...        0        0
1    Speciallärar- och specialpedagogutbildning    ...        0        0
2    Ingenjörsutbildning inom samhällsbyggnad, bygg...        0        0
3    Övrig eftergymnasial utbildning inom pedagogik...        1        1
4    Övrig eftergymnasial utbildning inom samhällsv...        0        2
..                                                 ...      ...      ...
995  Minst 30 högskolepoäng inom hälso- o sjukvård ...        0        0
996  Minst 30 högskolepoäng inom humaniora och kons...        0        0
997  Lärarutbildning i praktisk-estetiska ämnen    ...        1        0
998  Transportutbildning på eftergymnasial nivå    ...        0        0
999  Civilingenjörsutbildning inom kemi- och biotek...        0        0

     barn7_10  barn11_15  barn16_17  barn18plus  barn18_19  barn20plus
0           0          0          0           0          0           0
1           0          0          0           0          0           0
2           0          0          1           0          0           1
3           0          0          0           0          0           1
4           0          0          1           0          0           0
..        ...        ...        ...         ...        ...         ...
995         1          0          0           0          0           0
996         0          0          0           0          0           0
997         0          0          0           0          0           0
998         0          0          0           0          0           0
999         0          0          0           0          0           0

[1000 rows x 12 columns]

In [17]:
#CfarNr_LISA

CfarNr_LISA = random_sampler(100000,999999, 10)


#CFARNrJ

#unsure about format

#arbstId connecting the different components

#ArbstIdJ 


#arbnr for companies that work under multiple adresses to get a number for the company #and special numbers 999...

AstNr_LISA = random_sampler(10000, 99999, 10)

AstKommun # based on the place the company is at 

#astkommunJ

#astlän
#astlänj

### demographic economic variables

In [18]:
#födelsear
fodelseAr = []
for i in person_nummer:
    fodelseAr.append(i[:4])
    
fodelseAr

['1991', '1971', '2004', '2004', '1921', '1977', '1921']

In [26]:
#dödsdatum 

import numpy as np

DodDatum = []
for i in fodelseAr:
    death = np.random.binomial(n=1, p=.001)
    if death == 1:
        
        #missing the check that death must happen after birth 
        DodDatum.append(choices(res_dates))
    else: 
        DodDatum.append(0)


DodDatum
# random chance and data must be above date of birth

[0, 0, 0, 0, 0, 0, 0]

In [21]:
#alder 

current_year = 2019
alder = []
for i in fodelseAr:
    alder.append(current_year-int(i))
     
alder

#we need to restrict to older than 16

[28, 48, 15, 15, 98, 42, 98]

In [ ]:
#havent found Kon yet

In [29]:
#InvUtvLand  sample from country list

#currently just to fill 

#currently dummy variables
InvUtvLand = []
FodelseLandnamn = []
for i in range(10):
    immigration = np.random.binomial(n=1, p=.001)
    if immigration == 1:
        
        #missing the check that death must happen after birth 
        InvUtvLand.append("Denmark")
        FodelseLandnamn.append("Denmark")
        #InvUtManad
    else: 
        InvUtvLand.append("Sverige")
        
        #invUtManad
        
        
        #FodelseLandnamn
        FodelseLandnamn.append("Sverige")




#if there is a country wi will sample data of it

In [ ]:
#postTpy?!

#FodelseTidMo


#FodelseLandNamnMor