### Creation of the Family Layer

In [244]:
import pandas as pd
from itertools import combinations
import numpy as np
pd.options.mode.chained_assignment = None

In [232]:
## read in the data

##i could merge on famID 


registry_data_one_year = pd.read_csv("testdata.csv")

In [233]:
registry_data_one_year

,Unnamed: 0,Sun2000niva_old,SUN2000Niva,SUN2000Inr,SUN2000Grp,Barn0_3,Barn4_6,Barn7_10,Barn11_15,Barn16_17,Barn18plus,Barn18_19,Barn20plus,PersonNr,famID,FodesleAr,Alder
0,0,15895,300,761d,Gymnasial utbildning med inriktning mot barn o...,0,0,0,0,0,0,0,0,19370429-1669,19350916-1755,1937,53
1,1,81607,5,840d,Transportutbildning på eftergymnasial nivå ...,0,0,1,1,1,0,0,0,19380301-8616,19350916-1755,1938,52
2,2,70251,300,811d,Hotell- och restaurangutbildning på gymnasial ...,1,2,0,2,2,2,0,0,19350916-1755,19350916-1755,1935,55
3,3,20859,5,762a,Social service- och omsorgsutbildning ...,2,0,2,1,0,0,0,0,19311224-1125,19311224-1125,1931,58
4,4,15015,532,106k,Minst 30 högskolepoäng inom lant- och skogsbru...,0,0,0,0,0,0,0,0,19530115-9550,19311224-1125,1953,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,51220,522,101c,Minst 30 högskolepoäng inom pedagogik och lära...,1,1,1,2,0,0,0,0,19321018-9211,19321018-9211,1932,58
9996,9996,59510,531,312c,Samhälls- och beteendevetenskaplig högskoleutb...,1,0,0,1,0,3,0,0,19290710-2723,19010428-8159,1929,61
9997,9997,79185,557,724c,Tandläkarutbildning ...,0,0,2,0,1,0,0,0,19010428-8159,19010428-8159,1901,89
9998,9998,72465,557,146f,Yrkeslärarutbildning ...,0,0,0,1,0,0,0,0,19390318-1701,19300628-6725,1939,51
9999,9999,78664,300,724i,Tandvårdsutbildning på gymnasial nivå ...,0,0,0,0,0,0,0,0,19300628-6725,19300628-6725,1930,60

In [234]:
#basic step --> connect everyone in the same family:
# Iterate through unique values in 'ConnectionColumn'


#
connections = pd.DataFrame()
for family in registry_data_one_year['famID'].unique():
    # Filter rows where 'famID' has the current value
    subset = registry_data_one_year[registry_data_one_year['famID'] == family]
    
    # Create pairs of IDs
    pairs = pd.merge(subset[['PersonNr']], subset[['PersonNr']], how='cross')
    
    # Add the connection type column
    pairs['ConnectionType'] = "family"
    
    # Append to the connections DataFrame
    connections = pd.concat([connections, pairs])

In [235]:
connections

       PersonNr_x     PersonNr_y ConnectionType
0   19370429-1669  19370429-1669         family
1   19370429-1669  19380301-8616         family
2   19370429-1669  19350916-1755         family
3   19380301-8616  19370429-1669         family
4   19380301-8616  19380301-8616         family
..            ...            ...            ...
3   19010428-8159  19010428-8159         family
0   19390318-1701  19390318-1701         family
1   19390318-1701  19300628-6725         family
2   19300628-6725  19390318-1701         family
3   19300628-6725  19300628-6725         family

[29890 rows x 3 columns]

In [379]:
def find_parent_child_relationship(subset):
    parent_relationships = []
    parents = subset[subset['Barn18plus'] > 0]
    children = subset[subset['Alder'] >= 18]
    
    #to create siblings
    dfs_to_concat = []
    for _, parent in parents.iterrows():
            age_difference = parent["Alder"] - children["Alder"]
            eligible_children = children[age_difference > 15]
            if not eligible_children.empty:
            
            
            # Assuming "Kön" is a column indicating gender
            #gender = 'mother' if parent['Kön'] == 'female' else 'father'
            
                # Create DataFrame for each parent-child relationship
                child_data = {'personNr1': eligible_children["PersonNr"].tolist(),
                              'personNr2': parent["PersonNr"],
                              'connection': "child of"}

                parent_data = {'personNr1': parent["PersonNr"],
                               'personNr2': eligible_children["PersonNr"].tolist(),
                               'connection': "parent of"}

                parent_relationships.extend([pd.DataFrame(child_data), pd.DataFrame(parent_data)])
                #print(eligible_children)
                if len(eligible_children)>1:
                    personNr2_list = eligible_children['PersonNr'].tolist()
                    personNr2_list = sorted(personNr2_list)
                    print(personNr2_list)
                    print(len(personNr2_list))
                    if len(personNr2_list) == 2:
                        # If length is 2, create a single row with 'siblings' as the connection
                        row_data = pd.DataFrame([{'personNr1': personNr2_list[0], 'personNr2': personNr2_list[1], 'connection': 'siblings'}])
                        dfs_to_concat.extend([pd.DataFrame(row_data)])
                        
                    elif len(personNr2_list) > 2:
                        # If length is greater than 2, create rows for all combinations
                        for pair in combinations(personNr2_list, 2):
                            row_data = pd.DataFrame([{'personNr1': pair[0], 'personNr2': pair[1], 'connection': 'siblings'}])
                            dfs_to_concat.extend([pd.DataFrame(row_data)])
                   
                

    if parent_relationships:
        # Concatenate all DataFrames in the list
        parent_relationships = pd.concat(parent_relationships, ignore_index=True)
        if dfs_to_concat:
            print(dfs_to_concat)
            dfs_to_concat = pd.DataFrame(pd.concat(dfs_to_concat).drop_duplicates(ignore_index=True))
            print(dfs_to_concat)
            parent_relationships = pd.concat([parent_relationships, dfs_to_concat], ignore_index=True)
    else:
        # Create an empty DataFrame
        parent_relationships = pd.DataFrame(columns=['personNr1', 'personNr2', 'connection'])

            
    return parent_relationships

In [382]:
def find_relationships(subset, current_connections):
    #should i change approach here? 
    couple_relationships = pd.DataFrame(columns=['personNr1', 'personNr2', 'connection'])
    selected = subset[['PersonNr', 'Alder']]
    for i in range(len(selected)-1):
        for j in range(i+1, len(selected)):

            person1 = selected.iat[i, 0]
            person2 = selected.iat[j, 0]
            # Calculate age difference
            age_difference = abs(selected.iat[i, 1] - selected.iat[j, 1])
        
            # Check if age difference is less than or equal to 15 years
            
            siblings_possible = (((current_connections['personNr1'] != person1) & (current_connections['personNr2'] != person2) & (current_connections['connection'] != "siblings")) | ((current_connections['personNr1'] != person2) & (current_connections['personNr2'] != person1) & (current_connections['connection'] != "siblings")) ).all()
            #add check for amount of children (?)
            if age_difference <= 13 and siblings_possible != True :
                row_data = pd.DataFrame([{'personNr1':person1 , 'personNr2': person2, 'connection': "partner of"}])
                couple_relationships = pd.concat([couple_relationships, row_data])
               
    return couple_relationships

In [294]:
num_rows = 30

# Create a DataFrame with random numbers in 'personnr1' and 'personnr2'
test_case_grandparent = pd.DataFrame({
    'personNr1': np.random.randint(11, 40, size=num_rows),
    'personNr2': np.random.randint(0, 33, size=num_rows),
})

# Introduce some matches between 'personnr1' and 'personnr2'
num_matches = 3
match_indices = np.random.choice(num_rows, size=num_matches, replace=False)
test_case_grandparent.loc[match_indices, 'personNr2'] = test_case_grandparent.loc[match_indices, 'personNr1']

# Create a 'connection' column with values 'parent of' or 'sibling'
test_case_grandparent['connection'] = np.random.choice(['parent of'], size=num_rows)
test_case_grandparent = test_case_grandparent[test_case_grandparent['personNr1'] != test_case_grandparent['personNr2']]


outcome_2 = find_cousines(test_case_grandparent)
print(outcome_2)

Empty DataFrame
Columns: [personNr1, personNr2, connection]
Index: []

In [352]:
def find_siblings(family_connections):
        # Assuming connections is your DataFrame
    selection = family_connections[family_connections["connection"] == "parent of"]

    # Find all the siblings (people with the same parent)
    result = selection.groupby('personNr1')['personNr2'].agg(list).reset_index()
    result_filtered = result[result['personNr2'].apply(len) > 1]
    
    # Create a list to store DataFrames
    dfs_to_concat = []

    for _, row in result_filtered.iterrows():
        personNr2_list = row['personNr2']
        personNr2_list = sorted(personNr2_list)
        # Check the length of the list
        if len(personNr2_list) == 2:
            # If length is 2, create a single row with 'siblings' as the connection
            row_data = pd.DataFrame([{'personNr1': personNr2_list[0], 'personNr2': personNr2_list[1], 'connection': 'siblings'}])
            dfs_to_concat.append(row_data)
        elif len(personNr2_list) > 2:
            # If length is greater than 2, create rows for all combinations
            for pair in combinations(personNr2_list, 2):
                row_data = pd.DataFrame([{'personNr1': pair[0], 'personNr2': pair[1], 'connection': 'siblings'}])
                dfs_to_concat.append(row_data)
    
    if dfs_to_concat:
        dfs_to_concat = pd.concat(dfs_to_concat).drop_duplicates(ignore_index=True)
    
    
    return dfs_to_concat

In [341]:
def find_grandparents_aunts(family_connections):
    
    #make this without warnings --> change append to concat 
    
    grandparents_list = []
    parent_rows = family_connections[family_connections['connection'] == 'parent of']
    sibling_rows = family_connections[family_connections['connection'] == 'siblings']
    for _, parent_row in parent_rows.iterrows():
        # Find rows where 'Personnr1' in the original dataframe matches 'personNr2' in the current row
        matching_rows = parent_rows[parent_rows['personNr2'] == parent_row['personNr1']]
        
        matching_rows_auntsuncles = sibling_rows[(sibling_rows['personNr2'] == parent_row['personNr1']) |(sibling_rows['personNr1'] == parent_row['personNr1'])]
        # Iterate through matching rows and add to the result dataframe
        if not matching_rows.empty:
            for _, matching_row in matching_rows.iterrows():

                grandparents_list.append({
                    'personNr1': matching_row['personNr1'],
                    'personNr2': parent_row['personNr2'],
                    'connection': "grandparent of"
                })
                grandparents_list.append({
                    'personNr1': parent_row['personNr2'],
                    'personNr2': matching_row['personNr1'],
                    'connection': "grandchild of"
                })
        
        
        if not matching_rows_auntsuncles.empty:
            for _, matching_row in matching_rows_auntsuncles.iterrows():

        #aunts and uncles
                grandparents_list.append({
                    'personNr1': matching_row['personNr1'],
                    'personNr2': parent_row['personNr2'],
                    'connection': "aunt/uncle of"
                })
                grandparents_list.append({
                    'personNr1': parent_row['personNr2'],
                    'personNr2': matching_row['personNr1'],
                    'connection': "niece/newphew of"
                })

    return   pd.DataFrame(grandparents_list, columns=['personNr1', 'personNr2', 'connection'])

In [347]:
def find_cousines(family_connections):
    cousines= pd.DataFrame(columns=['personNr1', 'personNr2', 'connection'])
    aunt_uncle_rows = family_connections[family_connections['connection'] == 'aunt/uncle of']
    parent_rows = family_connections[family_connections['connection'] == 'parent of']
    
    aunt_uncle_rows = aunt_uncle_rows.reset_index(drop=True)
    parent_rows = parent_rows.reset_index(drop=True)
    for _, aunt_uncle_row in aunt_uncle_rows.iterrows():
        matching_rows = parent_rows[parent_rows['personNr1'] == aunt_uncle_row['personNr1']]
        
        for _, matching_row in matching_rows.iterrows():
            cousines = cousines.append({
                'personNr1': matching_row['personNr2'],
                'personNr2': aunt_uncle_row['personNr2'],
                'connection': "cousins"
            }, ignore_index=True)
            
    return cousines

In [383]:
parents = pd.DataFrame()
registry_100 = registry_data_one_year.head(100)



#next step
#create functions to call for creation of children
#create function to call for creation of partners that work for the subset that append to a dictionary(?)

#create dicitionaries and then create a final dataframe for efficiency --> overwork all the steps so far
def create_family_layer(registry_data):
    connections = pd.DataFrame(columns=['personNr1', 'personNr2', 'connection'])
    for family in registry_data['famID'].unique():
        # Filter rows where 'famID' has the current value
        subset = registry_data[registry_data['famID'] == family]
        # Check if each row has a value greater than or equal to 0 in the 'your_column' column
        if len(subset)> 1: 
            #will there be an option to check which year, we are working on

            #work on child-parent relationship 
            #parents = subset[(subset['Barn18plus'] > 0) | (subset['Barn16_17'] >0 ) | (subset['Barn18_19'] > 0) | (subset['Barn20plus'] >0 )].any(axis=1)
            parents = subset[(subset['Barn18plus']>0) |  (subset['Barn16_17'] >0 )  | (subset['Barn18_19'] > 0) | (subset['Barn20plus'] >0 )]
            #print(parents)
            if len(parents)> 1:
                output = find_parent_child_relationship(subset)

                connections = pd.concat([connections, output])

            #work on the partner relationship
            relationships = find_relationships(subset, connections)
            connections = pd.concat([connections, relationships])
            
            
        #assumption --> partners have minimum one child of the same age --> double check with famId creation about partners
        # also connected if both have no children (marriage?)
        
    #dfs_to_concat = find_siblings(connections)
    #if not dfs_to_concat.empty:
    #    connections = pd.concat([connections] + [dfs_to_concat], ignore_index=True)

    #grandparent/ aunts/uncles / niece .. /cousin relationship

    
    grandparents_connections = find_grandparents_aunts(connections)
    if not grandparents_connections.empty:
        connections = pd.concat([connections] + [grandparents_connections], ignore_index=True)


    cousine_connections = find_cousines(connections)
    if not cousine_connections.empty:
        connections = pd.concat([connections] + [cousine_connections], ignore_index=True)
    
    
    return connections

network = create_family_layer(registry_data_one_year)

['19240104-4206', '19241106-5535']
2
[       personNr1      personNr2 connection
0  19240104-4206  19241106-5535   siblings]
       personNr1      personNr2 connection
0  19240104-4206  19241106-5535   siblings
['19631119-6217', '19700304-4935']
2
[       personNr1      personNr2 connection
0  19631119-6217  19700304-4935   siblings]
       personNr1      personNr2 connection
0  19631119-6217  19700304-4935   siblings
['19600821-5688', '19710719-4234']
2
[       personNr1      personNr2 connection
0  19600821-5688  19710719-4234   siblings]
       personNr1      personNr2 connection
0  19600821-5688  19710719-4234   siblings
['19290701-9307', '19660531-9640']
2
[       personNr1      personNr2 connection
0  19290701-9307  19660531-9640   siblings]
       personNr1      personNr2 connection
0  19290701-9307  19660531-9640   siblings
['19440915-7995', '19481121-1745', '19660610-1198']
3
[       personNr1      personNr2 connection
0  19440915-7995  19481121-1745   siblings,        personNr1      personNr2 connection
0  19440915-7995  19660610-1198   siblings,        personNr1      personNr2 connection
0  19481121-1745  19660610-1198   siblings]
       personNr1      personNr2 connection
0  19440915-7995  19481121-1745   siblings
1  19440915-7995  19660610-1198   siblings
2  19481121-1745  19660610-1198   siblings
['19440924-6780', '19590317-1615']
2
[       personNr1      personNr2 connection
0  19440924-6780  19590317-1615   siblings]
       personNr1      personNr2 connection
0  19440924-6780  19590317-1615   siblings
['19510628-1192', '19691212-7812']
2
[       personNr1      personNr2 connection
0  19510628-1192  19691212-7812   siblings]
       personNr1      personNr2 connection
0  19510628-1192  19691212-7812   siblings
['19470613-8745', '19500722-4295']
2
['19470613-8745', '19500722-4295']
2
[       personNr1      personNr2 connection
0  19470613-8745  19500722-4295   siblings,        personNr1      personNr2 connection
0  19470613-8745  19500722-4295   siblings]
       personNr1      personNr2 connection
0  19470613-8745  19500722-4295   siblings
['19491126-6112', '19520817-1147']
2
[       personNr1      personNr2 connection
0  19491126-6112  19520817-1147   siblings]
       personNr1      personNr2 connection
0  19491126-6112  19520817-1147   siblings
['19521121-9364', '19670419-4631', '19710518-4735']
3
[       personNr1      personNr2 connection
0  19521121-9364  19670419-4631   siblings,        personNr1      personNr2 connection
0  19521121-9364  19710518-4735   siblings,        personNr1      personNr2 connection
0  19670419-4631  19710518-4735   siblings]
       personNr1      personNr2 connection
0  19521121-9364  19670419-4631   siblings
1  19521121-9364  19710518-4735   siblings
2  19670419-4631  19710518-4735   siblings
['19500620-4676', '19701110-9396']
2
[       personNr1      personNr2 connection
0  19500620-4676  19701110-9396   siblings]
       personNr1      personNr2 connection
0  19500620-4676  19701110-9396   siblings
['19580826-3252', '19580917-4736', '19600407-9890']
3
[       personNr1      personNr2 connection
0  19580826-3252  19580917-4736   siblings,        personNr1      personNr2 connection
0  19580826-3252  19600407-9890   siblings,        personNr1      personNr2 connection
0  19580917-4736  19600407-9890   siblings]
       personNr1      personNr2 connection
0  19580826-3252  19580917-4736   siblings
1  19580826-3252  19600407-9890   siblings
2  19580917-4736  19600407-9890   siblings
['19190917-7659', '19630101-6925']
2
[       personNr1      personNr2 connection
0  19190917-7659  19630101-6925   siblings]
       personNr1      personNr2 connection
0  19190917-7659  19630101-6925   siblings
['19301013-5608', '19610911-9579']
2
[       personNr1      personNr2 connection
0  19301013-5608  19610911-9579   siblings]
       personNr1      personNr2 connection
0  19301013-5608  19610911-9579   siblings
['19250310-9143', '19701208-5432']
2
[       personNr1      personNr2 connection
0  19250310-9143  19701208-5432   siblings]
       personNr1      personNr2 connection
0  19250310-9143  19701208-5432   siblings
['19480217-2329', '19570404-3778']
2
[       personNr1      personNr2 connection
0  19480217-2329  19570404-3778   siblings]
       personNr1      personNr2 connection
0  19480217-2329  19570404-3778   siblings
['19540910-7079', '19680703-4436']
2
[       personNr1      personNr2 connection
0  19540910-7079  19680703-4436   siblings]
       personNr1      personNr2 connection
0  19540910-7079  19680703-4436   siblings
['19550321-8810', '19690819-5856']
2
[       personNr1      personNr2 connection
0  19550321-8810  19690819-5856   siblings]
       personNr1      personNr2 connection
0  19550321-8810  19690819-5856   siblings
['19510923-9639', '19640418-1499']
2
[       personNr1      personNr2 connection
0  19510923-9639  19640418-1499   siblings]
       personNr1      personNr2 connection
0  19510923-9639  19640418-1499   siblings
['19251228-6377', '19381026-6019']
2
[       personNr1      personNr2 connection
0  19251228-6377  19381026-6019   siblings]
       personNr1      personNr2 connection
0  19251228-6377  19381026-6019   siblings
['19360418-8147', '19701218-9757']
2
['19360418-8147', '19701218-9757']
2
[       personNr1      personNr2 connection
0  19360418-8147  19701218-9757   siblings,        personNr1      personNr2 connection
0  19360418-8147  19701218-9757   siblings]
       personNr1      personNr2 connection
0  19360418-8147  19701218-9757   siblings
['19580304-1026', '19601022-7892']
2
[       personNr1      personNr2 connection
0  19580304-1026  19601022-7892   siblings]
       personNr1      personNr2 connection
0  19580304-1026  19601022-7892   siblings
['19290111-7400', '19290827-2430']
2
[       personNr1      personNr2 connection
0  19290111-7400  19290827-2430   siblings]
       personNr1      personNr2 connection
0  19290111-7400  19290827-2430   siblings
['19551122-1982', '19711030-9431']
2
[       personNr1      personNr2 connection
0  19551122-1982  19711030-9431   siblings]
       personNr1      personNr2 connection
0  19551122-1982  19711030-9431   siblings
['19260728-5209', '19390714-6300']
2
[       personNr1      personNr2 connection
0  19260728-5209  19390714-6300   siblings]
       personNr1      personNr2 connection
0  19260728-5209  19390714-6300   siblings
['19470929-5224', '19660521-5952']
2
[       personNr1      personNr2 connection
0  19470929-5224  19660521-5952   siblings]
       personNr1      personNr2 connection
0  19470929-5224  19660521-5952   siblings
['19470808-1756', '19521118-8202']
2
[       personNr1      personNr2 connection
0  19470808-1756  19521118-8202   siblings]
       personNr1      personNr2 connection
0  19470808-1756  19521118-8202   siblings
['19270124-1352', '19300523-1140']
2
[       personNr1      personNr2 connection
0  19270124-1352  19300523-1140   siblings]
       personNr1      personNr2 connection
0  19270124-1352  19300523-1140   siblings
['19331222-1589', '19631125-9976', '19700331-6091']
3
[       personNr1      personNr2 connection
0  19331222-1589  19631125-9976   siblings,        personNr1      personNr2 connection
0  19331222-1589  19700331-6091   siblings,        personNr1      personNr2 connection
0  19631125-9976  19700331-6091   siblings]
       personNr1      personNr2 connection
0  19331222-1589  19631125-9976   siblings
1  19331222-1589  19700331-6091   siblings
2  19631125-9976  19700331-6091   siblings
['19350817-9069', '19490331-3709']
2
[       personNr1      personNr2 connection
0  19350817-9069  19490331-3709   siblings]
       personNr1      personNr2 connection
0  19350817-9069  19490331-3709   siblings
['19410317-5833', '19460822-4914']
2
[       personNr1      personNr2 connection
0  19410317-5833  19460822-4914   siblings]
       personNr1      personNr2 connection
0  19410317-5833  19460822-4914   siblings
['19610315-6217', '19640907-9258']
2
[       personNr1      personNr2 connection
0  19610315-6217  19640907-9258   siblings]
       personNr1      personNr2 connection
0  19610315-6217  19640907-9258   siblings
['19600106-3064', '19680330-7880']
2
[       personNr1      personNr2 connection
0  19600106-3064  19680330-7880   siblings]
       personNr1      personNr2 connection
0  19600106-3064  19680330-7880   siblings
['19430722-7608', '19470224-5227', '19500809-9788']
3
[       personNr1      personNr2 connection
0  19430722-7608  19470224-5227   siblings,        personNr1      personNr2 connection
0  19430722-7608  19500809-9788   siblings,        personNr1      personNr2 connection
0  19470224-5227  19500809-9788   siblings]
       personNr1      personNr2 connection
0  19430722-7608  19470224-5227   siblings
1  19430722-7608  19500809-9788   siblings
2  19470224-5227  19500809-9788   siblings

['19340521-5451', '19540311-5753', '19650528-1334']
3
[       personNr1      personNr2 connection
0  19340521-5451  19540311-5753   siblings,        personNr1      personNr2 connection
0  19340521-5451  19650528-1334   siblings,        personNr1      personNr2 connection
0  19540311-5753  19650528-1334   siblings]
       personNr1      personNr2 connection
0  19340521-5451  19540311-5753   siblings
1  19340521-5451  19650528-1334   siblings
2  19540311-5753  19650528-1334   siblings
['19240905-3146', '19440508-7645']
2
[       personNr1      personNr2 connection
0  19240905-3146  19440508-7645   siblings]
       personNr1      personNr2 connection
0  19240905-3146  19440508-7645   siblings
['19320929-3124', '19460827-3347']
2
[       personNr1      personNr2 connection
0  19320929-3124  19460827-3347   siblings]
       personNr1      personNr2 connection
0  19320929-3124  19460827-3347   siblings
['19530327-3592', '19600716-8448']
2
[       personNr1      personNr2 connection
0  19530327-3592  19600716-8448   siblings]
       personNr1      personNr2 connection
0  19530327-3592  19600716-8448   siblings
['19570901-5939', '19660217-4836']
2
[       personNr1      personNr2 connection
0  19570901-5939  19660217-4836   siblings]
       personNr1      personNr2 connection
0  19570901-5939  19660217-4836   siblings
['19260225-1801', '19310404-4873']
2
[       personNr1      personNr2 connection
0  19260225-1801  19310404-4873   siblings]
       personNr1      personNr2 connection
0  19260225-1801  19310404-4873   siblings
['19560428-4569', '19661004-8931']
2
[       personNr1      personNr2 connection
0  19560428-4569  19661004-8931   siblings]
       personNr1      personNr2 connection
0  19560428-4569  19661004-8931   siblings
['19390711-7049', '19401124-1150']
2
[       personNr1      personNr2 connection
0  19390711-7049  19401124-1150   siblings]
       personNr1      personNr2 connection
0  19390711-7049  19401124-1150   siblings
['19511212-3170', '19621211-7063', '19641202-6112']
3
[       personNr1      personNr2 connection
0  19511212-3170  19621211-7063   siblings,        personNr1      personNr2 connection
0  19511212-3170  19641202-6112   siblings,        personNr1      personNr2 connection
0  19621211-7063  19641202-6112   siblings]
       personNr1      personNr2 connection
0  19511212-3170  19621211-7063   siblings
1  19511212-3170  19641202-6112   siblings
2  19621211-7063  19641202-6112   siblings
['19590322-2535', '19590330-1604']
2
[       personNr1      personNr2 connection
0  19590322-2535  19590330-1604   siblings]
       personNr1      personNr2 connection
0  19590322-2535  19590330-1604   siblings
['19550804-9553', '19701123-4990']
2
[       personNr1      personNr2 connection
0  19550804-9553  19701123-4990   siblings]
       personNr1      personNr2 connection
0  19550804-9553  19701123-4990   siblings
['19210711-9763', '19511030-6911']
2
[       personNr1      personNr2 connection
0  19210711-9763  19511030-6911   siblings]
       personNr1      personNr2 connection
0  19210711-9763  19511030-6911   siblings
['19270717-5302', '19341122-3575']
2
[       personNr1      personNr2 connection
0  19270717-5302  19341122-3575   siblings]
       personNr1      personNr2 connection
0  19270717-5302  19341122-3575   siblings
['19510226-2080', '19650329-5157']
2
[       personNr1      personNr2 connection
0  19510226-2080  19650329-5157   siblings]
       personNr1      personNr2 connection
0  19510226-2080  19650329-5157   siblings
['19561103-7409', '19630619-2496']
2
[       personNr1      personNr2 connection
0  19561103-7409  19630619-2496   siblings]
       personNr1      personNr2 connection
0  19561103-7409  19630619-2496   siblings
['19490421-5666', '19641119-7610']
2
[       personNr1      personNr2 connection
0  19490421-5666  19641119-7610   siblings]
       personNr1      personNr2 connection
0  19490421-5666  19641119-7610   siblings
['19470218-6107', '19620104-4120']
2
[       personNr1      personNr2 connection
0  19470218-6107  19620104-4120   siblings]
       personNr1      personNr2 connection
0  19470218-6107  19620104-4120   siblings
['19520421-2027', '19551117-8550']
2
[       personNr1      personNr2 connection
0  19520421-2027  19551117-8550   siblings]
       personNr1      personNr2 connection
0  19520421-2027  19551117-8550   siblings
['19680924-2481', '19690825-2070']
2
[       personNr1      personNr2 connection
0  19680924-2481  19690825-2070   siblings]
       personNr1      personNr2 connection
0  19680924-2481  19690825-2070   siblings
['19450829-6976', '19650412-7227']
2
[       personNr1      personNr2 connection
0  19450829-6976  19650412-7227   siblings]
       personNr1      personNr2 connection
0  19450829-6976  19650412-7227   siblings
['19350822-8994', '19510819-3040']
2
[       personNr1      personNr2 connection
0  19350822-8994  19510819-3040   siblings]
       personNr1      personNr2 connection
0  19350822-8994  19510819-3040   siblings
['19590821-2208', '19660916-4592']
2
[       personNr1      personNr2 connection
0  19590821-2208  19660916-4592   siblings]
       personNr1      personNr2 connection
0  19590821-2208  19660916-4592   siblings
['19441105-5035', '19501111-7218', '19690422-6642']
3
[       personNr1      personNr2 connection
0  19441105-5035  19501111-7218   siblings,        personNr1      personNr2 connection
0  19441105-5035  19690422-6642   siblings,        personNr1      personNr2 connection
0  19501111-7218  19690422-6642   siblings]
       personNr1      personNr2 connection
0  19441105-5035  19501111-7218   siblings
1  19441105-5035  19690422-6642   siblings
2  19501111-7218  19690422-6642   siblings
['19511015-9999', '19650510-1006']
2
[       personNr1      personNr2 connection
0  19511015-9999  19650510-1006   siblings]
       personNr1      personNr2 connection
0  19511015-9999  19650510-1006   siblings
['19510730-1699', '19650219-9538']
2
[       personNr1      personNr2 connection
0  19510730-1699  19650219-9538   siblings]
       personNr1      personNr2 connection
0  19510730-1699  19650219-9538   siblings
['19541026-1173', '19650830-2176']
2
[       personNr1      personNr2 connection
0  19541026-1173  19650830-2176   siblings]
       personNr1      personNr2 connection
0  19541026-1173  19650830-2176   siblings
['19550725-8026', '19651217-4039']
2
[       personNr1      personNr2 connection
0  19550725-8026  19651217-4039   siblings]
       personNr1      personNr2 connection
0  19550725-8026  19651217-4039   siblings
['19441002-6971', '19540528-6528']
2
[       personNr1      personNr2 connection
0  19441002-6971  19540528-6528   siblings]
       personNr1      personNr2 connection
0  19441002-6971  19540528-6528   siblings
['19510315-2549', '19710402-9570']
2
[       personNr1      personNr2 connection
0  19510315-2549  19710402-9570   siblings]
       personNr1      personNr2 connection
0  19510315-2549  19710402-9570   siblings
['19600726-1557', '19620115-5145']
2
['19600726-1557', '19620115-5145']
2
[       personNr1      personNr2 connection
0  19600726-1557  19620115-5145   siblings,        personNr1      personNr2 connection
0  19600726-1557  19620115-5145   siblings]
       personNr1      personNr2 connection
0  19600726-1557  19620115-5145   siblings
['19440331-9257', '19680730-6813']
2
[       personNr1      personNr2 connection
0  19440331-9257  19680730-6813   siblings]
       personNr1      personNr2 connection
0  19440331-9257  19680730-6813   siblings
['19170816-8047', '19670814-5983']
2
[       personNr1      personNr2 connection
0  19170816-8047  19670814-5983   siblings]
       personNr1      personNr2 connection
0  19170816-8047  19670814-5983   siblings
['19520625-8935', '19630326-6763']
2
[       personNr1      personNr2 connection
0  19520625-8935  19630326-6763   siblings]
       personNr1      personNr2 connection
0  19520625-8935  19630326-6763   siblings
['19401022-9650', '19480205-8632']
2
[       personNr1      personNr2 connection
0  19401022-9650  19480205-8632   siblings]
       personNr1      personNr2 connection
0  19401022-9650  19480205-8632   siblings
['19301206-7365', '19590102-7433']
2
[       personNr1      personNr2 connection
0  19301206-7365  19590102-7433   siblings]
       personNr1      personNr2 connection
0  19301206-7365  19590102-7433   siblings
['19571103-2946', '19651110-1985']
2
[       personNr1      personNr2 connection
0  19571103-2946  19651110-1985   siblings]
       personNr1      personNr2 connection
0  19571103-2946  19651110-1985   siblings
['19371122-8632', '19490329-1048', '19490521-6735']
3
[       personNr1      personNr2 connection
0  19371122-8632  19490329-1048   siblings,        personNr1      personNr2 connection
0  19371122-8632  19490521-6735   siblings,        personNr1      personNr2 connection
0  19490329-1048  19490521-6735   siblings]
       personNr1      personNr2 connection
0  19371122-8632  19490329-1048   siblings
1  19371122-8632  19490521-6735   siblings
2  19490329-1048  19490521-6735   siblings

['19520711-5350', '19610428-6365']
2
['19520711-5350', '19610428-6365']
2
[       personNr1      personNr2 connection
0  19520711-5350  19610428-6365   siblings,        personNr1      personNr2 connection
0  19520711-5350  19610428-6365   siblings]
       personNr1      personNr2 connection
0  19520711-5350  19610428-6365   siblings
['19250222-5632', '19260422-5767', '19381101-3621']
3
[       personNr1      personNr2 connection
0  19250222-5632  19260422-5767   siblings,        personNr1      personNr2 connection
0  19250222-5632  19381101-3621   siblings,        personNr1      personNr2 connection
0  19260422-5767  19381101-3621   siblings]
       personNr1      personNr2 connection
0  19250222-5632  19260422-5767   siblings
1  19250222-5632  19381101-3621   siblings
2  19260422-5767  19381101-3621   siblings
['19350802-5200', '19530814-3499', '19630703-2848']
3
[       personNr1      personNr2 connection
0  19350802-5200  19530814-3499   siblings,        personNr1      personNr2 connection
0  19350802-5200  19630703-2848   siblings,        personNr1      personNr2 connection
0  19530814-3499  19630703-2848   siblings]
       personNr1      personNr2 connection
0  19350802-5200  19530814-3499   siblings
1  19350802-5200  19630703-2848   siblings
2  19530814-3499  19630703-2848   siblings
['19430424-3970', '19580318-3852']
2
[       personNr1      personNr2 connection
0  19430424-3970  19580318-3852   siblings]
       personNr1      personNr2 connection
0  19430424-3970  19580318-3852   siblings
['19551019-6070', '19630626-3150']
2
[       personNr1      personNr2 connection
0  19551019-6070  19630626-3150   siblings]
       personNr1      personNr2 connection
0  19551019-6070  19630626-3150   siblings
['19341009-7279', '19480225-2004']
2
[       personNr1      personNr2 connection
0  19341009-7279  19480225-2004   siblings]
       personNr1      personNr2 connection
0  19341009-7279  19480225-2004   siblings
['19690914-5466', '19710117-3144']
2
['19690914-5466', '19710117-3144']
2
[       personNr1      personNr2 connection
0  19690914-5466  19710117-3144   siblings,        personNr1      personNr2 connection
0  19690914-5466  19710117-3144   siblings]
       personNr1      personNr2 connection
0  19690914-5466  19710117-3144   siblings
['19610119-9024', '19681223-9570']
2
[       personNr1      personNr2 connection
0  19610119-9024  19681223-9570   siblings]
       personNr1      personNr2 connection
0  19610119-9024  19681223-9570   siblings
['19680706-9473', '19710704-7285']
2
[       personNr1      personNr2 connection
0  19680706-9473  19710704-7285   siblings]
       personNr1      personNr2 connection
0  19680706-9473  19710704-7285   siblings
['19330102-8521', '19651020-3571']
2
[       personNr1      personNr2 connection
0  19330102-8521  19651020-3571   siblings]
       personNr1      personNr2 connection
0  19330102-8521  19651020-3571   siblings
['19450916-5870', '19660209-7179']
2
[       personNr1      personNr2 connection
0  19450916-5870  19660209-7179   siblings]
       personNr1      personNr2 connection
0  19450916-5870  19660209-7179   siblings
['19191116-1259', '19600118-1279']
2
[       personNr1      personNr2 connection
0  19191116-1259  19600118-1279   siblings]
       personNr1      personNr2 connection
0  19191116-1259  19600118-1279   siblings
['19210223-5792', '19350618-7332']
2
[       personNr1      personNr2 connection
0  19210223-5792  19350618-7332   siblings]
       personNr1      personNr2 connection
0  19210223-5792  19350618-7332   siblings
['19430605-1063', '19720916-1187']
2
['19430605-1063', '19720916-1187']
2
[       personNr1      personNr2 connection
0  19430605-1063  19720916-1187   siblings,        personNr1      personNr2 connection
0  19430605-1063  19720916-1187   siblings]
       personNr1      personNr2 connection
0  19430605-1063  19720916-1187   siblings
['19430128-6409', '19620805-6355']
2
[       personNr1      personNr2 connection
0  19430128-6409  19620805-6355   siblings]
       personNr1      personNr2 connection
0  19430128-6409  19620805-6355   siblings
['19250604-9832', '19680217-4110']
2
[       personNr1      personNr2 connection
0  19250604-9832  19680217-4110   siblings]
       personNr1      personNr2 connection
0  19250604-9832  19680217-4110   siblings
['19381113-5109', '19701119-3921']
2
[       personNr1      personNr2 connection
0  19381113-5109  19701119-3921   siblings]
       personNr1      personNr2 connection
0  19381113-5109  19701119-3921   siblings
['19531115-8692', '19690910-9704']
2
[       personNr1      personNr2 connection
0  19531115-8692  19690910-9704   siblings]
       personNr1      personNr2 connection
0  19531115-8692  19690910-9704   siblings
['19321126-2998', '19330919-8465']
2
[       personNr1      personNr2 connection
0  19321126-2998  19330919-8465   siblings]
       personNr1      personNr2 connection
0  19321126-2998  19330919-8465   siblings
['19290910-4139', '19521208-3062', '19631003-6734']
3
[       personNr1      personNr2 connection
0  19290910-4139  19521208-3062   siblings,        personNr1      personNr2 connection
0  19290910-4139  19631003-6734   siblings,        personNr1      personNr2 connection
0  19521208-3062  19631003-6734   siblings]
       personNr1      personNr2 connection
0  19290910-4139  19521208-3062   siblings
1  19290910-4139  19631003-6734   siblings
2  19521208-3062  19631003-6734   siblings
['19360212-1679', '19610509-5894', '19691002-4654']
3
[       personNr1      personNr2 connection
0  19360212-1679  19610509-5894   siblings,        personNr1      personNr2 connection
0  19360212-1679  19691002-4654   siblings,        personNr1      personNr2 connection
0  19610509-5894  19691002-4654   siblings]
       personNr1      personNr2 connection
0  19360212-1679  19610509-5894   siblings
1  19360212-1679  19691002-4654   siblings
2  19610509-5894  19691002-4654   siblings
['19510522-8845', '19620415-4591']
2
[       personNr1      personNr2 connection
0  19510522-8845  19620415-4591   siblings]
       personNr1      personNr2 connection
0  19510522-8845  19620415-4591   siblings
['19640316-4176', '19641117-7744']
2
[       personNr1      personNr2 connection
0  19640316-4176  19641117-7744   siblings]
       personNr1      personNr2 connection
0  19640316-4176  19641117-7744   siblings
['19370512-4714', '19630727-3159', '19660520-1052']
3
[       personNr1      personNr2 connection
0  19370512-4714  19630727-3159   siblings,        personNr1      personNr2 connection
0  19370512-4714  19660520-1052   siblings,        personNr1      personNr2 connection
0  19630727-3159  19660520-1052   siblings]
       personNr1      personNr2 connection
0  19370512-4714  19630727-3159   siblings
1  19370512-4714  19660520-1052   siblings
2  19630727-3159  19660520-1052   siblings
['19460721-8663', '19690206-3733']
2
[       personNr1      personNr2 connection
0  19460721-8663  19690206-3733   siblings]
       personNr1      personNr2 connection
0  19460721-8663  19690206-3733   siblings
['19360717-6240', '19431112-9267']
2
[       personNr1      personNr2 connection
0  19360717-6240  19431112-9267   siblings]
       personNr1      personNr2 connection
0  19360717-6240  19431112-9267   siblings
['19610603-7868', '19670115-6231']
2
[       personNr1      personNr2 connection
0  19610603-7868  19670115-6231   siblings]
       personNr1      personNr2 connection
0  19610603-7868  19670115-6231   siblings
['19470314-8478', '19630409-8117']
2
[       personNr1      personNr2 connection
0  19470314-8478  19630409-8117   siblings]
       personNr1      personNr2 connection
0  19470314-8478  19630409-8117   siblings
['19560914-8981', '19570424-7019']
2
[       personNr1      personNr2 connection
0  19560914-8981  19570424-7019   siblings]
       personNr1      personNr2 connection
0  19560914-8981  19570424-7019   siblings
['19420905-3844', '19511206-9948']
2
[       personNr1      personNr2 connection
0  19420905-3844  19511206-9948   siblings]
       personNr1      personNr2 connection
0  19420905-3844  19511206-9948   siblings
['19280625-9156', '19651230-7565']
2
[       personNr1      personNr2 connection
0  19280625-9156  19651230-7565   siblings]
       personNr1      personNr2 connection
0  19280625-9156  19651230-7565   siblings

['19311020-7804', '19700127-2104']
2
[       personNr1      personNr2 connection
0  19311020-7804  19700127-2104   siblings]
       personNr1      personNr2 connection
0  19311020-7804  19700127-2104   siblings
['19500208-3577', '19670806-8658']
2
[       personNr1      personNr2 connection
0  19500208-3577  19670806-8658   siblings]
       personNr1      personNr2 connection
0  19500208-3577  19670806-8658   siblings
['19590508-9286', '19650217-5430']
2
[       personNr1      personNr2 connection
0  19590508-9286  19650217-5430   siblings]
       personNr1      personNr2 connection
0  19590508-9286  19650217-5430   siblings
['19340814-3565', '19640522-6657']
2
[       personNr1      personNr2 connection
0  19340814-3565  19640522-6657   siblings]
       personNr1      personNr2 connection
0  19340814-3565  19640522-6657   siblings
['19590301-8546', '19651030-1454']
2
[       personNr1      personNr2 connection
0  19590301-8546  19651030-1454   siblings]
       personNr1      personNr2 connection
0  19590301-8546  19651030-1454   siblings
['19400824-4712', '19690322-4212']
2
[       personNr1      personNr2 connection
0  19400824-4712  19690322-4212   siblings]
       personNr1      personNr2 connection
0  19400824-4712  19690322-4212   siblings
['19380602-3991', '19591104-2885']
2
[       personNr1      personNr2 connection
0  19380602-3991  19591104-2885   siblings]
       personNr1      personNr2 connection
0  19380602-3991  19591104-2885   siblings
['19350515-4349', '19590521-2689', '19691225-6529']
3
[       personNr1      personNr2 connection
0  19350515-4349  19590521-2689   siblings,        personNr1      personNr2 connection
0  19350515-4349  19691225-6529   siblings,        personNr1      personNr2 connection
0  19590521-2689  19691225-6529   siblings]
       personNr1      personNr2 connection
0  19350515-4349  19590521-2689   siblings
1  19350515-4349  19691225-6529   siblings
2  19590521-2689  19691225-6529   siblings
['19330804-5492', '19440208-7302', '19561127-1384']
3
[       personNr1      personNr2 connection
0  19330804-5492  19440208-7302   siblings,        personNr1      personNr2 connection
0  19330804-5492  19561127-1384   siblings,        personNr1      personNr2 connection
0  19440208-7302  19561127-1384   siblings]
       personNr1      personNr2 connection
0  19330804-5492  19440208-7302   siblings
1  19330804-5492  19561127-1384   siblings
2  19440208-7302  19561127-1384   siblings
['19551122-9778', '19610923-9471']
2
[       personNr1      personNr2 connection
0  19551122-9778  19610923-9471   siblings]
       personNr1      personNr2 connection
0  19551122-9778  19610923-9471   siblings
['19320920-6286', '19381128-4296']
2
[       personNr1      personNr2 connection
0  19320920-6286  19381128-4296   siblings]
       personNr1      personNr2 connection
0  19320920-6286  19381128-4296   siblings
['19610309-4556', '19670819-3205', '19721029-4844']
3
[       personNr1      personNr2 connection
0  19610309-4556  19670819-3205   siblings,        personNr1      personNr2 connection
0  19610309-4556  19721029-4844   siblings,        personNr1      personNr2 connection
0  19670819-3205  19721029-4844   siblings]
       personNr1      personNr2 connection
0  19610309-4556  19670819-3205   siblings
1  19610309-4556  19721029-4844   siblings
2  19670819-3205  19721029-4844   siblings
['19600602-8255', '19710710-7629']
2
[       personNr1      personNr2 connection
0  19600602-8255  19710710-7629   siblings]
       personNr1      personNr2 connection
0  19600602-8255  19710710-7629   siblings
['19531125-2908', '19690904-3452', '19691014-3770']
3
[       personNr1      personNr2 connection
0  19531125-2908  19690904-3452   siblings,        personNr1      personNr2 connection
0  19531125-2908  19691014-3770   siblings,        personNr1      personNr2 connection
0  19690904-3452  19691014-3770   siblings]
       personNr1      personNr2 connection
0  19531125-2908  19690904-3452   siblings
1  19531125-2908  19691014-3770   siblings
2  19690904-3452  19691014-3770   siblings
['19551125-8804', '19710627-4453']
2
[       personNr1      personNr2 connection
0  19551125-8804  19710627-4453   siblings]
       personNr1      personNr2 connection
0  19551125-8804  19710627-4453   siblings
['19640120-4651', '19690818-5159']
2
[       personNr1      personNr2 connection
0  19640120-4651  19690818-5159   siblings]
       personNr1      personNr2 connection
0  19640120-4651  19690818-5159   siblings
['19460613-8742', '19680211-5043']
2
[       personNr1      personNr2 connection
0  19460613-8742  19680211-5043   siblings]
       personNr1      personNr2 connection
0  19460613-8742  19680211-5043   siblings
['19610413-5836', '19720814-8167']
2
[       personNr1      personNr2 connection
0  19610413-5836  19720814-8167   siblings]
       personNr1      personNr2 connection
0  19610413-5836  19720814-8167   siblings
['19190129-5402', '19251104-4348', '19350411-8632']
3
[       personNr1      personNr2 connection
0  19190129-5402  19251104-4348   siblings,        personNr1      personNr2 connection
0  19190129-5402  19350411-8632   siblings,        personNr1      personNr2 connection
0  19251104-4348  19350411-8632   siblings]
       personNr1      personNr2 connection
0  19190129-5402  19251104-4348   siblings
1  19190129-5402  19350411-8632   siblings
2  19251104-4348  19350411-8632   siblings
['19500508-7928', '19651127-5053']
2
[       personNr1      personNr2 connection
0  19500508-7928  19651127-5053   siblings]
       personNr1      personNr2 connection
0  19500508-7928  19651127-5053   siblings
['19280922-4389', '19460721-4989', '19541213-3078']
3
[       personNr1      personNr2 connection
0  19280922-4389  19460721-4989   siblings,        personNr1      personNr2 connection
0  19280922-4389  19541213-3078   siblings,        personNr1      personNr2 connection
0  19460721-4989  19541213-3078   siblings]
       personNr1      personNr2 connection
0  19280922-4389  19460721-4989   siblings
1  19280922-4389  19541213-3078   siblings
2  19460721-4989  19541213-3078   siblings
['19271119-8970', '19600509-8619', '19620914-8804']
3
[       personNr1      personNr2 connection
0  19271119-8970  19600509-8619   siblings,        personNr1      personNr2 connection
0  19271119-8970  19620914-8804   siblings,        personNr1      personNr2 connection
0  19600509-8619  19620914-8804   siblings]
       personNr1      personNr2 connection
0  19271119-8970  19600509-8619   siblings
1  19271119-8970  19620914-8804   siblings
2  19600509-8619  19620914-8804   siblings
['19340316-6088', '19350620-6212']
2
[       personNr1      personNr2 connection
0  19340316-6088  19350620-6212   siblings]
       personNr1      personNr2 connection
0  19340316-6088  19350620-6212   siblings
['19510107-4256', '19690226-1512']
2
[       personNr1      personNr2 connection
0  19510107-4256  19690226-1512   siblings]
       personNr1      personNr2 connection
0  19510107-4256  19690226-1512   siblings
['19520807-1181', '19580706-1516']
2
[       personNr1      personNr2 connection
0  19520807-1181  19580706-1516   siblings]
       personNr1      personNr2 connection
0  19520807-1181  19580706-1516   siblings
['19391224-9182', '19690914-4710']
2
[       personNr1      personNr2 connection
0  19391224-9182  19690914-4710   siblings]
       personNr1      personNr2 connection
0  19391224-9182  19690914-4710   siblings
['19440822-6018', '19461021-9029']
2
[       personNr1      personNr2 connection
0  19440822-6018  19461021-9029   siblings]
       personNr1      personNr2 connection
0  19440822-6018  19461021-9029   siblings
['19460114-4100', '19681214-6902']
2
['19460114-4100', '19681214-6902']
2
[       personNr1      personNr2 connection
0  19460114-4100  19681214-6902   siblings,        personNr1      personNr2 connection
0  19460114-4100  19681214-6902   siblings]
       personNr1      personNr2 connection
0  19460114-4100  19681214-6902   siblings
['19330104-5798', '19380301-6493']
2
[       personNr1      personNr2 connection
0  19330104-5798  19380301-6493   siblings]
       personNr1      personNr2 connection
0  19330104-5798  19380301-6493   siblings
['19600816-4604', '19610128-1893']
2
[       personNr1      personNr2 connection
0  19600816-4604  19610128-1893   siblings]
       personNr1      personNr2 connection
0  19600816-4604  19610128-1893   siblings

['19631031-9452', '19680210-5112']
2
[       personNr1      personNr2 connection
0  19631031-9452  19680210-5112   siblings]
       personNr1      personNr2 connection
0  19631031-9452  19680210-5112   siblings
['19461211-4675', '19581023-7576']
2
['19461211-4675', '19581023-7576']
2
[       personNr1      personNr2 connection
0  19461211-4675  19581023-7576   siblings,        personNr1      personNr2 connection
0  19461211-4675  19581023-7576   siblings]
       personNr1      personNr2 connection
0  19461211-4675  19581023-7576   siblings
['19260407-4887', '19310106-6501', '19590824-1185']
3
[       personNr1      personNr2 connection
0  19260407-4887  19310106-6501   siblings,        personNr1      personNr2 connection
0  19260407-4887  19590824-1185   siblings,        personNr1      personNr2 connection
0  19310106-6501  19590824-1185   siblings]
       personNr1      personNr2 connection
0  19260407-4887  19310106-6501   siblings
1  19260407-4887  19590824-1185   siblings
2  19310106-6501  19590824-1185   siblings
['19340930-2378', '19440708-5451', '19471022-4226']
3
[       personNr1      personNr2 connection
0  19340930-2378  19440708-5451   siblings,        personNr1      personNr2 connection
0  19340930-2378  19471022-4226   siblings,        personNr1      personNr2 connection
0  19440708-5451  19471022-4226   siblings]
       personNr1      personNr2 connection
0  19340930-2378  19440708-5451   siblings
1  19340930-2378  19471022-4226   siblings
2  19440708-5451  19471022-4226   siblings
['19620321-2643', '19680114-4043']
2
[       personNr1      personNr2 connection
0  19620321-2643  19680114-4043   siblings]
       personNr1      personNr2 connection
0  19620321-2643  19680114-4043   siblings
['19400303-4523', '19700928-9003']
2
[       personNr1      personNr2 connection
0  19400303-4523  19700928-9003   siblings]
       personNr1      personNr2 connection
0  19400303-4523  19700928-9003   siblings
['19490627-4039', '19610616-9581', '19720528-2842']
3
[       personNr1      personNr2 connection
0  19490627-4039  19610616-9581   siblings,        personNr1      personNr2 connection
0  19490627-4039  19720528-2842   siblings,        personNr1      personNr2 connection
0  19610616-9581  19720528-2842   siblings]
       personNr1      personNr2 connection
0  19490627-4039  19610616-9581   siblings
1  19490627-4039  19720528-2842   siblings
2  19610616-9581  19720528-2842   siblings
['19251225-3452', '19390211-7469']
2
[       personNr1      personNr2 connection
0  19251225-3452  19390211-7469   siblings]
       personNr1      personNr2 connection
0  19251225-3452  19390211-7469   siblings
['19510311-6359', '19631025-6667']
2
[       personNr1      personNr2 connection
0  19510311-6359  19631025-6667   siblings]
       personNr1      personNr2 connection
0  19510311-6359  19631025-6667   siblings
['19360508-8250', '19620917-1842', '19660805-6794']
3
[       personNr1      personNr2 connection
0  19360508-8250  19620917-1842   siblings,        personNr1      personNr2 connection
0  19360508-8250  19660805-6794   siblings,        personNr1      personNr2 connection
0  19620917-1842  19660805-6794   siblings]
       personNr1      personNr2 connection
0  19360508-8250  19620917-1842   siblings
1  19360508-8250  19660805-6794   siblings
2  19620917-1842  19660805-6794   siblings
['19690907-5128', '19710609-2543']
2
[       personNr1      personNr2 connection
0  19690907-5128  19710609-2543   siblings]
       personNr1      personNr2 connection
0  19690907-5128  19710609-2543   siblings
['19370613-4695', '19681117-2043']
2
[       personNr1      personNr2 connection
0  19370613-4695  19681117-2043   siblings]
       personNr1      personNr2 connection
0  19370613-4695  19681117-2043   siblings
['19370209-7574', '19470217-6298', '19621024-8123']
3
[       personNr1      personNr2 connection
0  19370209-7574  19470217-6298   siblings,        personNr1      personNr2 connection
0  19370209-7574  19621024-8123   siblings,        personNr1      personNr2 connection
0  19470217-6298  19621024-8123   siblings]
       personNr1      personNr2 connection
0  19370209-7574  19470217-6298   siblings
1  19370209-7574  19621024-8123   siblings
2  19470217-6298  19621024-8123   siblings
['19561126-2608', '19591029-4321']
2
[       personNr1      personNr2 connection
0  19561126-2608  19591029-4321   siblings]
       personNr1      personNr2 connection
0  19561126-2608  19591029-4321   siblings
['19390511-1725', '19630702-6052']
2
[       personNr1      personNr2 connection
0  19390511-1725  19630702-6052   siblings]
       personNr1      personNr2 connection
0  19390511-1725  19630702-6052   siblings
['19310820-9205', '19430625-5401']
2
[       personNr1      personNr2 connection
0  19310820-9205  19430625-5401   siblings]
       personNr1      personNr2 connection
0  19310820-9205  19430625-5401   siblings
['19320914-9359', '19330922-7771']
2
[       personNr1      personNr2 connection
0  19320914-9359  19330922-7771   siblings]
       personNr1      personNr2 connection
0  19320914-9359  19330922-7771   siblings
['19520531-1139', '19621008-4206']
2
[       personNr1      personNr2 connection
0  19520531-1139  19621008-4206   siblings]
       personNr1      personNr2 connection
0  19520531-1139  19621008-4206   siblings
['19540704-7252', '19560618-1442']
2
[       personNr1      personNr2 connection
0  19540704-7252  19560618-1442   siblings]
       personNr1      personNr2 connection
0  19540704-7252  19560618-1442   siblings
['19281102-1666', '19451013-1256']
2
[       personNr1      personNr2 connection
0  19281102-1666  19451013-1256   siblings]
       personNr1      personNr2 connection
0  19281102-1666  19451013-1256   siblings
['19401028-6564', '19630426-6392', '19650717-7504']
3
[       personNr1      personNr2 connection
0  19401028-6564  19630426-6392   siblings,        personNr1      personNr2 connection
0  19401028-6564  19650717-7504   siblings,        personNr1      personNr2 connection
0  19630426-6392  19650717-7504   siblings]
       personNr1      personNr2 connection
0  19401028-6564  19630426-6392   siblings
1  19401028-6564  19650717-7504   siblings
2  19630426-6392  19650717-7504   siblings
['19560322-9286', '19670604-1572']
2
[       personNr1      personNr2 connection
0  19560322-9286  19670604-1572   siblings]
       personNr1      personNr2 connection
0  19560322-9286  19670604-1572   siblings
['19611125-2638', '19700719-4712']
2
[       personNr1      personNr2 connection
0  19611125-2638  19700719-4712   siblings]
       personNr1      personNr2 connection
0  19611125-2638  19700719-4712   siblings
['19400123-9373', '19471207-7742']
2
['19400123-9373', '19471207-7742']
2
[       personNr1      personNr2 connection
0  19400123-9373  19471207-7742   siblings,        personNr1      personNr2 connection
0  19400123-9373  19471207-7742   siblings]
       personNr1      personNr2 connection
0  19400123-9373  19471207-7742   siblings
['19361205-6616', '19370506-6241', '19430521-7895']
3
[       personNr1      personNr2 connection
0  19361205-6616  19370506-6241   siblings,        personNr1      personNr2 connection
0  19361205-6616  19430521-7895   siblings,        personNr1      personNr2 connection
0  19370506-6241  19430521-7895   siblings]
       personNr1      personNr2 connection
0  19361205-6616  19370506-6241   siblings
1  19361205-6616  19430521-7895   siblings
2  19370506-6241  19430521-7895   siblings
['19311205-5172', '19500627-1491', '19571209-8347']
3
[       personNr1      personNr2 connection
0  19311205-5172  19500627-1491   siblings,        personNr1      personNr2 connection
0  19311205-5172  19571209-8347   siblings,        personNr1      personNr2 connection
0  19500627-1491  19571209-8347   siblings]
       personNr1      personNr2 connection
0  19311205-5172  19500627-1491   siblings
1  19311205-5172  19571209-8347   siblings
2  19500627-1491  19571209-8347   siblings
['19340914-7569', '19680813-2724']
2
[       personNr1      personNr2 connection
0  19340914-7569  19680813-2724   siblings]
       personNr1      personNr2 connection
0  19340914-7569  19680813-2724   siblings
['19390403-7472', '19440403-3335']
2
[       personNr1      personNr2 connection
0  19390403-7472  19440403-3335   siblings]
       personNr1      personNr2 connection
0  19390403-7472  19440403-3335   siblings
['19421112-3195', '19600102-7022']
2
['19421112-3195', '19600102-7022']
2
[       personNr1      personNr2 connection
0  19421112-3195  19600102-7022   siblings,        personNr1      personNr2 connection
0  19421112-3195  19600102-7022   siblings]
       personNr1      personNr2 connection
0  19421112-3195  19600102-7022   siblings

['19531019-4982', '19570207-7489', '19620207-1858']
3
[       personNr1      personNr2 connection
0  19531019-4982  19570207-7489   siblings,        personNr1      personNr2 connection
0  19531019-4982  19620207-1858   siblings,        personNr1      personNr2 connection
0  19570207-7489  19620207-1858   siblings]
       personNr1      personNr2 connection
0  19531019-4982  19570207-7489   siblings
1  19531019-4982  19620207-1858   siblings
2  19570207-7489  19620207-1858   siblings
['19490130-7954', '19570802-3341', '19700104-7510']
3
[       personNr1      personNr2 connection
0  19490130-7954  19570802-3341   siblings,        personNr1      personNr2 connection
0  19490130-7954  19700104-7510   siblings,        personNr1      personNr2 connection
0  19570802-3341  19700104-7510   siblings]
       personNr1      personNr2 connection
0  19490130-7954  19570802-3341   siblings
1  19490130-7954  19700104-7510   siblings
2  19570802-3341  19700104-7510   siblings
['19590309-5577', '19620414-9075']
2
[       personNr1      personNr2 connection
0  19590309-5577  19620414-9075   siblings]
       personNr1      personNr2 connection
0  19590309-5577  19620414-9075   siblings
['19680306-5900', '19690514-2640', '19721002-3944']
3
[       personNr1      personNr2 connection
0  19680306-5900  19690514-2640   siblings,        personNr1      personNr2 connection
0  19680306-5900  19721002-3944   siblings,        personNr1      personNr2 connection
0  19690514-2640  19721002-3944   siblings]
       personNr1      personNr2 connection
0  19680306-5900  19690514-2640   siblings
1  19680306-5900  19721002-3944   siblings
2  19690514-2640  19721002-3944   siblings
['19551224-6979', '19590914-5239']
2
['19551224-6979', '19590914-5239']
2
[       personNr1      personNr2 connection
0  19551224-6979  19590914-5239   siblings,        personNr1      personNr2 connection
0  19551224-6979  19590914-5239   siblings]
       personNr1      personNr2 connection
0  19551224-6979  19590914-5239   siblings
['19471206-1319', '19481230-4008']
2
[       personNr1      personNr2 connection
0  19471206-1319  19481230-4008   siblings]
       personNr1      personNr2 connection
0  19471206-1319  19481230-4008   siblings
['19300624-9023', '19311018-1418', '19390918-9456']
3
[       personNr1      personNr2 connection
0  19300624-9023  19311018-1418   siblings,        personNr1      personNr2 connection
0  19300624-9023  19390918-9456   siblings,        personNr1      personNr2 connection
0  19311018-1418  19390918-9456   siblings]
       personNr1      personNr2 connection
0  19300624-9023  19311018-1418   siblings
1  19300624-9023  19390918-9456   siblings
2  19311018-1418  19390918-9456   siblings
['19530406-9025', '19550502-3033']
2
[       personNr1      personNr2 connection
0  19530406-9025  19550502-3033   siblings]
       personNr1      personNr2 connection
0  19530406-9025  19550502-3033   siblings
['19260624-7803', '19470801-6260', '19660511-7513']
3
[       personNr1      personNr2 connection
0  19260624-7803  19470801-6260   siblings,        personNr1      personNr2 connection
0  19260624-7803  19660511-7513   siblings,        personNr1      personNr2 connection
0  19470801-6260  19660511-7513   siblings]
       personNr1      personNr2 connection
0  19260624-7803  19470801-6260   siblings
1  19260624-7803  19660511-7513   siblings
2  19470801-6260  19660511-7513   siblings
['19240601-2201', '19460519-6185']
2
[       personNr1      personNr2 connection
0  19240601-2201  19460519-6185   siblings]
       personNr1      personNr2 connection
0  19240601-2201  19460519-6185   siblings
['19450409-5297', '19540711-1617', '19640808-5519']
3
[       personNr1      personNr2 connection
0  19450409-5297  19540711-1617   siblings,        personNr1      personNr2 connection
0  19450409-5297  19640808-5519   siblings,        personNr1      personNr2 connection
0  19540711-1617  19640808-5519   siblings]
       personNr1      personNr2 connection
0  19450409-5297  19540711-1617   siblings
1  19450409-5297  19640808-5519   siblings
2  19540711-1617  19640808-5519   siblings
['19391003-5604', '19480315-8769']
2
[       personNr1      personNr2 connection
0  19391003-5604  19480315-8769   siblings]
       personNr1      personNr2 connection
0  19391003-5604  19480315-8769   siblings
['19611211-5757', '19700601-9561']
2
[       personNr1      personNr2 connection
0  19611211-5757  19700601-9561   siblings]
       personNr1      personNr2 connection
0  19611211-5757  19700601-9561   siblings
['19460428-6196', '19650124-4929', '19650703-3460']
3
[       personNr1      personNr2 connection
0  19460428-6196  19650124-4929   siblings,        personNr1      personNr2 connection
0  19460428-6196  19650703-3460   siblings,        personNr1      personNr2 connection
0  19650124-4929  19650703-3460   siblings]
       personNr1      personNr2 connection
0  19460428-6196  19650124-4929   siblings
1  19460428-6196  19650703-3460   siblings
2  19650124-4929  19650703-3460   siblings
['19500210-2316', '19520111-7170']
2
[       personNr1      personNr2 connection
0  19500210-2316  19520111-7170   siblings]
       personNr1      personNr2 connection
0  19500210-2316  19520111-7170   siblings
['19660516-4851', '19660723-6254']
2
[       personNr1      personNr2 connection
0  19660516-4851  19660723-6254   siblings]
       personNr1      personNr2 connection
0  19660516-4851  19660723-6254   siblings
['19500810-8956', '19680428-7079']
2
[       personNr1      personNr2 connection
0  19500810-8956  19680428-7079   siblings]
       personNr1      personNr2 connection
0  19500810-8956  19680428-7079   siblings
['19341117-4812', '19601015-8413', '19650702-7848']
3
[       personNr1      personNr2 connection
0  19341117-4812  19601015-8413   siblings,        personNr1      personNr2 connection
0  19341117-4812  19650702-7848   siblings,        personNr1      personNr2 connection
0  19601015-8413  19650702-7848   siblings]
       personNr1      personNr2 connection
0  19341117-4812  19601015-8413   siblings
1  19341117-4812  19650702-7848   siblings
2  19601015-8413  19650702-7848   siblings
['19670904-6240', '19720501-4560']
2
[       personNr1      personNr2 connection
0  19670904-6240  19720501-4560   siblings]
       personNr1      personNr2 connection
0  19670904-6240  19720501-4560   siblings
['19611011-8387', '19720316-3481']
2
[       personNr1      personNr2 connection
0  19611011-8387  19720316-3481   siblings]
       personNr1      personNr2 connection
0  19611011-8387  19720316-3481   siblings
['19561221-4777', '19580814-9311']
2
[       personNr1      personNr2 connection
0  19561221-4777  19580814-9311   siblings]
       personNr1      personNr2 connection
0  19561221-4777  19580814-9311   siblings
['19551007-6719', '19680807-7627', '19720826-7264']
3
[       personNr1      personNr2 connection
0  19551007-6719  19680807-7627   siblings,        personNr1      personNr2 connection
0  19551007-6719  19720826-7264   siblings,        personNr1      personNr2 connection
0  19680807-7627  19720826-7264   siblings]
       personNr1      personNr2 connection
0  19551007-6719  19680807-7627   siblings
1  19551007-6719  19720826-7264   siblings
2  19680807-7627  19720826-7264   siblings
['19270911-7669', '19510117-4425']
2
[       personNr1      personNr2 connection
0  19270911-7669  19510117-4425   siblings]
       personNr1      personNr2 connection
0  19270911-7669  19510117-4425   siblings
['19540318-4346', '19600414-8051']
2
['19540318-4346', '19600414-8051']
2
[       personNr1      personNr2 connection
0  19540318-4346  19600414-8051   siblings,        personNr1      personNr2 connection
0  19540318-4346  19600414-8051   siblings]
       personNr1      personNr2 connection
0  19540318-4346  19600414-8051   siblings
['19460118-6935', '19510109-4138']
2
[       personNr1      personNr2 connection
0  19460118-6935  19510109-4138   siblings]
       personNr1      personNr2 connection
0  19460118-6935  19510109-4138   siblings
['19380713-7316', '19490717-7168', '19630122-1935']
3
[       personNr1      personNr2 connection
0  19380713-7316  19490717-7168   siblings,        personNr1      personNr2 connection
0  19380713-7316  19630122-1935   siblings,        personNr1      personNr2 connection
0  19490717-7168  19630122-1935   siblings]
       personNr1      personNr2 connection
0  19380713-7316  19490717-7168   siblings
1  19380713-7316  19630122-1935   siblings
2  19490717-7168  19630122-1935   siblings
['19540804-5633', '19561107-9844']
2
[       personNr1      personNr2 connection
0  19540804-5633  19561107-9844   siblings]
       personNr1      personNr2 connection
0  19540804-5633  19561107-9844   siblings

['19631103-1848', '19671222-3986']
2
[       personNr1      personNr2 connection
0  19631103-1848  19671222-3986   siblings]
       personNr1      personNr2 connection
0  19631103-1848  19671222-3986   siblings
['19241201-7754', '19500113-6748']
2
[       personNr1      personNr2 connection
0  19241201-7754  19500113-6748   siblings]
       personNr1      personNr2 connection
0  19241201-7754  19500113-6748   siblings
['19491126-4058', '19581123-8758']
2
[       personNr1      personNr2 connection
0  19491126-4058  19581123-8758   siblings]
       personNr1      personNr2 connection
0  19491126-4058  19581123-8758   siblings
['19390913-5079', '19501110-7994', '19670423-1415']
3
[       personNr1      personNr2 connection
0  19390913-5079  19501110-7994   siblings,        personNr1      personNr2 connection
0  19390913-5079  19670423-1415   siblings,        personNr1      personNr2 connection
0  19501110-7994  19670423-1415   siblings]
       personNr1      personNr2 connection
0  19390913-5079  19501110-7994   siblings
1  19390913-5079  19670423-1415   siblings
2  19501110-7994  19670423-1415   siblings
['19640418-5509', '19641203-4248', '19700630-3910']
3
[       personNr1      personNr2 connection
0  19640418-5509  19641203-4248   siblings,        personNr1      personNr2 connection
0  19640418-5509  19700630-3910   siblings,        personNr1      personNr2 connection
0  19641203-4248  19700630-3910   siblings]
       personNr1      personNr2 connection
0  19640418-5509  19641203-4248   siblings
1  19640418-5509  19700630-3910   siblings
2  19641203-4248  19700630-3910   siblings
['19371107-1655', '19700227-8855']
2
['19371107-1655', '19700227-8855']
2
[       personNr1      personNr2 connection
0  19371107-1655  19700227-8855   siblings,        personNr1      personNr2 connection
0  19371107-1655  19700227-8855   siblings]
       personNr1      personNr2 connection
0  19371107-1655  19700227-8855   siblings
['19540815-2525', '19580617-4860']
2
[       personNr1      personNr2 connection
0  19540815-2525  19580617-4860   siblings]
       personNr1      personNr2 connection
0  19540815-2525  19580617-4860   siblings
['19370121-2036', '19520830-6115']
2
[       personNr1      personNr2 connection
0  19370121-2036  19520830-6115   siblings]
       personNr1      personNr2 connection
0  19370121-2036  19520830-6115   siblings
['19291012-7695', '19400603-1268']
2
[       personNr1      personNr2 connection
0  19291012-7695  19400603-1268   siblings]
       personNr1      personNr2 connection
0  19291012-7695  19400603-1268   siblings
['19260812-7893', '19590304-9978', '19660117-2120']
3
[       personNr1      personNr2 connection
0  19260812-7893  19590304-9978   siblings,        personNr1      personNr2 connection
0  19260812-7893  19660117-2120   siblings,        personNr1      personNr2 connection
0  19590304-9978  19660117-2120   siblings]
       personNr1      personNr2 connection
0  19260812-7893  19590304-9978   siblings
1  19260812-7893  19660117-2120   siblings
2  19590304-9978  19660117-2120   siblings
['19521009-8630', '19600802-1092']
2
['19521009-8630', '19600802-1092']
2
[       personNr1      personNr2 connection
0  19521009-8630  19600802-1092   siblings,        personNr1      personNr2 connection
0  19521009-8630  19600802-1092   siblings]
       personNr1      personNr2 connection
0  19521009-8630  19600802-1092   siblings
['19280304-2839', '19540307-9772', '19550619-3972']
3
[       personNr1      personNr2 connection
0  19280304-2839  19540307-9772   siblings,        personNr1      personNr2 connection
0  19280304-2839  19550619-3972   siblings,        personNr1      personNr2 connection
0  19540307-9772  19550619-3972   siblings]
       personNr1      personNr2 connection
0  19280304-2839  19540307-9772   siblings
1  19280304-2839  19550619-3972   siblings
2  19540307-9772  19550619-3972   siblings
['19650519-8864', '19700321-1797']
2
[       personNr1      personNr2 connection
0  19650519-8864  19700321-1797   siblings]
       personNr1      personNr2 connection
0  19650519-8864  19700321-1797   siblings
['19350208-7117', '19590805-4842']
2
[       personNr1      personNr2 connection
0  19350208-7117  19590805-4842   siblings]
       personNr1      personNr2 connection
0  19350208-7117  19590805-4842   siblings
['19300118-7400', '19360619-6600']
2
[       personNr1      personNr2 connection
0  19300118-7400  19360619-6600   siblings]
       personNr1      personNr2 connection
0  19300118-7400  19360619-6600   siblings
['19530716-1202', '19610426-2686']
2
[       personNr1      personNr2 connection
0  19530716-1202  19610426-2686   siblings]
       personNr1      personNr2 connection
0  19530716-1202  19610426-2686   siblings
['19580123-7845', '19681025-2999']
2
[       personNr1      personNr2 connection
0  19580123-7845  19681025-2999   siblings]
       personNr1      personNr2 connection
0  19580123-7845  19681025-2999   siblings
['19280426-2973', '19531211-5554']
2
[       personNr1      personNr2 connection
0  19280426-2973  19531211-5554   siblings]
       personNr1      personNr2 connection
0  19280426-2973  19531211-5554   siblings
['19320424-9989', '19380315-5608']
2
[       personNr1      personNr2 connection
0  19320424-9989  19380315-5608   siblings]
       personNr1      personNr2 connection
0  19320424-9989  19380315-5608   siblings
['19470913-3820', '19710920-3784']
2
[       personNr1      personNr2 connection
0  19470913-3820  19710920-3784   siblings]
       personNr1      personNr2 connection
0  19470913-3820  19710920-3784   siblings
['19270120-3036', '19480323-3075']
2
[       personNr1      personNr2 connection
0  19270120-3036  19480323-3075   siblings]
       personNr1      personNr2 connection
0  19270120-3036  19480323-3075   siblings
['19611129-2814', '19620321-5032', '19700207-6754']
3
[       personNr1      personNr2 connection
0  19611129-2814  19620321-5032   siblings,        personNr1      personNr2 connection
0  19611129-2814  19700207-6754   siblings,        personNr1      personNr2 connection
0  19620321-5032  19700207-6754   siblings]
       personNr1      personNr2 connection
0  19611129-2814  19620321-5032   siblings
1  19611129-2814  19700207-6754   siblings
2  19620321-5032  19700207-6754   siblings
['19500618-2940', '19540619-2076']
2
[       personNr1      personNr2 connection
0  19500618-2940  19540619-2076   siblings]
       personNr1      personNr2 connection
0  19500618-2940  19540619-2076   siblings
['19361115-5510', '19460720-3523', '19670629-1837']
3
[       personNr1      personNr2 connection
0  19361115-5510  19460720-3523   siblings,        personNr1      personNr2 connection
0  19361115-5510  19670629-1837   siblings,        personNr1      personNr2 connection
0  19460720-3523  19670629-1837   siblings]
       personNr1      personNr2 connection
0  19361115-5510  19460720-3523   siblings
1  19361115-5510  19670629-1837   siblings
2  19460720-3523  19670629-1837   siblings
['19690226-1784', '19711216-3531']
2
[       personNr1      personNr2 connection
0  19690226-1784  19711216-3531   siblings]
       personNr1      personNr2 connection
0  19690226-1784  19711216-3531   siblings
['19470511-7246', '19520602-5044']
2
[       personNr1      personNr2 connection
0  19470511-7246  19520602-5044   siblings]
       personNr1      personNr2 connection
0  19470511-7246  19520602-5044   siblings
['19310915-2933', '19701105-7668']
2
[       personNr1      personNr2 connection
0  19310915-2933  19701105-7668   siblings]
       personNr1      personNr2 connection
0  19310915-2933  19701105-7668   siblings
['19440815-9813', '19510426-6739', '19720627-6341']
3
[       personNr1      personNr2 connection
0  19440815-9813  19510426-6739   siblings,        personNr1      personNr2 connection
0  19440815-9813  19720627-6341   siblings,        personNr1      personNr2 connection
0  19510426-6739  19720627-6341   siblings]
       personNr1      personNr2 connection
0  19440815-9813  19510426-6739   siblings
1  19440815-9813  19720627-6341   siblings
2  19510426-6739  19720627-6341   siblings
['19270411-1857', '19691216-6342']
2
[       personNr1      personNr2 connection
0  19270411-1857  19691216-6342   siblings]
       personNr1      personNr2 connection
0  19270411-1857  19691216-6342   siblings

['19510529-2590', '19671223-1998']
2
[       personNr1      personNr2 connection
0  19510529-2590  19671223-1998   siblings]
       personNr1      personNr2 connection
0  19510529-2590  19671223-1998   siblings
['19250730-8131', '19390609-1524']
2
[       personNr1      personNr2 connection
0  19250730-8131  19390609-1524   siblings]
       personNr1      personNr2 connection
0  19250730-8131  19390609-1524   siblings
['19460731-1000', '19580906-6905', '19610727-3760']
3
[       personNr1      personNr2 connection
0  19460731-1000  19580906-6905   siblings,        personNr1      personNr2 connection
0  19460731-1000  19610727-3760   siblings,        personNr1      personNr2 connection
0  19580906-6905  19610727-3760   siblings]
       personNr1      personNr2 connection
0  19460731-1000  19580906-6905   siblings
1  19460731-1000  19610727-3760   siblings
2  19580906-6905  19610727-3760   siblings
['19300301-6545', '19580808-9797']
2
[       personNr1      personNr2 connection
0  19300301-6545  19580808-9797   siblings]
       personNr1      personNr2 connection
0  19300301-6545  19580808-9797   siblings
['19350329-7971', '19640731-6801']
2
[       personNr1      personNr2 connection
0  19350329-7971  19640731-6801   siblings]
       personNr1      personNr2 connection
0  19350329-7971  19640731-6801   siblings
['19661124-5678', '19680619-8150']
2
[       personNr1      personNr2 connection
0  19661124-5678  19680619-8150   siblings]
       personNr1      personNr2 connection
0  19661124-5678  19680619-8150   siblings
['19520424-5744', '19700615-3349']
2
[       personNr1      personNr2 connection
0  19520424-5744  19700615-3349   siblings]
       personNr1      personNr2 connection
0  19520424-5744  19700615-3349   siblings
['19381228-4042', '19570826-9990']
2
[       personNr1      personNr2 connection
0  19381228-4042  19570826-9990   siblings]
       personNr1      personNr2 connection
0  19381228-4042  19570826-9990   siblings
['19381010-8470', '19500413-1033']
2
[       personNr1      personNr2 connection
0  19381010-8470  19500413-1033   siblings]
       personNr1      personNr2 connection
0  19381010-8470  19500413-1033   siblings
['19380223-2368', '19440725-2059', '19680923-4842']
3
[       personNr1      personNr2 connection
0  19380223-2368  19440725-2059   siblings,        personNr1      personNr2 connection
0  19380223-2368  19680923-4842   siblings,        personNr1      personNr2 connection
0  19440725-2059  19680923-4842   siblings]
       personNr1      personNr2 connection
0  19380223-2368  19440725-2059   siblings
1  19380223-2368  19680923-4842   siblings
2  19440725-2059  19680923-4842   siblings
['19390220-8452', '19590220-8797']
2
[       personNr1      personNr2 connection
0  19390220-8452  19590220-8797   siblings]
       personNr1      personNr2 connection
0  19390220-8452  19590220-8797   siblings
['19310209-1232', '19441130-2919', '19461122-3787']
3
[       personNr1      personNr2 connection
0  19310209-1232  19441130-2919   siblings,        personNr1      personNr2 connection
0  19310209-1232  19461122-3787   siblings,        personNr1      personNr2 connection
0  19441130-2919  19461122-3787   siblings]
       personNr1      personNr2 connection
0  19310209-1232  19441130-2919   siblings
1  19310209-1232  19461122-3787   siblings
2  19441130-2919  19461122-3787   siblings
['19350808-4889', '19710609-8275']
2
['19350808-4889', '19710609-8275']
2
[       personNr1      personNr2 connection
0  19350808-4889  19710609-8275   siblings,        personNr1      personNr2 connection
0  19350808-4889  19710609-8275   siblings]
       personNr1      personNr2 connection
0  19350808-4889  19710609-8275   siblings
['19500221-5579', '19540220-8780', '19640728-1311']
3
[       personNr1      personNr2 connection
0  19500221-5579  19540220-8780   siblings,        personNr1      personNr2 connection
0  19500221-5579  19640728-1311   siblings,        personNr1      personNr2 connection
0  19540220-8780  19640728-1311   siblings]
       personNr1      personNr2 connection
0  19500221-5579  19540220-8780   siblings
1  19500221-5579  19640728-1311   siblings
2  19540220-8780  19640728-1311   siblings
['19230806-2404', '19431008-3102']
2
[       personNr1      personNr2 connection
0  19230806-2404  19431008-3102   siblings]
       personNr1      personNr2 connection
0  19230806-2404  19431008-3102   siblings
['19480503-4322', '19520624-9492']
2
[       personNr1      personNr2 connection
0  19480503-4322  19520624-9492   siblings]
       personNr1      personNr2 connection
0  19480503-4322  19520624-9492   siblings
['19210813-5207', '19400811-7733']
2
[       personNr1      personNr2 connection
0  19210813-5207  19400811-7733   siblings]
       personNr1      personNr2 connection
0  19210813-5207  19400811-7733   siblings
['19520407-4705', '19660109-7374']
2
[       personNr1      personNr2 connection
0  19520407-4705  19660109-7374   siblings]
       personNr1      personNr2 connection
0  19520407-4705  19660109-7374   siblings
['19520206-6026', '19621116-1946']
2
[       personNr1      personNr2 connection
0  19520206-6026  19621116-1946   siblings]
       personNr1      personNr2 connection
0  19520206-6026  19621116-1946   siblings
['19240826-6937', '19400326-2540']
2
[       personNr1      personNr2 connection
0  19240826-6937  19400326-2540   siblings]
       personNr1      personNr2 connection
0  19240826-6937  19400326-2540   siblings
['19441112-6096', '19640723-8959']
2
[       personNr1      personNr2 connection
0  19441112-6096  19640723-8959   siblings]
       personNr1      personNr2 connection
0  19441112-6096  19640723-8959   siblings
['19200130-3961', '19590825-7681']
2
[       personNr1      personNr2 connection
0  19200130-3961  19590825-7681   siblings]
       personNr1      personNr2 connection
0  19200130-3961  19590825-7681   siblings
['19661009-5427', '19691125-9175']
2
['19661009-5427', '19691125-9175']
2
[       personNr1      personNr2 connection
0  19661009-5427  19691125-9175   siblings,        personNr1      personNr2 connection
0  19661009-5427  19691125-9175   siblings]
       personNr1      personNr2 connection
0  19661009-5427  19691125-9175   siblings
['19350314-6776', '19590423-5699', '19650907-3708']
3
['19590423-5699', '19650907-3708']
2
[       personNr1      personNr2 connection
0  19350314-6776  19590423-5699   siblings,        personNr1      personNr2 connection
0  19350314-6776  19650907-3708   siblings,        personNr1      personNr2 connection
0  19590423-5699  19650907-3708   siblings,        personNr1      personNr2 connection
0  19590423-5699  19650907-3708   siblings]
       personNr1      personNr2 connection
0  19350314-6776  19590423-5699   siblings
1  19350314-6776  19650907-3708   siblings
2  19590423-5699  19650907-3708   siblings
['19410210-6532', '19510226-5962']
2
[       personNr1      personNr2 connection
0  19410210-6532  19510226-5962   siblings]
       personNr1      personNr2 connection
0  19410210-6532  19510226-5962   siblings
['19411122-1605', '19461020-2788', '19621002-8325']
3
[       personNr1      personNr2 connection
0  19411122-1605  19461020-2788   siblings,        personNr1      personNr2 connection
0  19411122-1605  19621002-8325   siblings,        personNr1      personNr2 connection
0  19461020-2788  19621002-8325   siblings]
       personNr1      personNr2 connection
0  19411122-1605  19461020-2788   siblings
1  19411122-1605  19621002-8325   siblings
2  19461020-2788  19621002-8325   siblings
['19590330-2878', '19650206-2471', '19720613-7684']
3
[       personNr1      personNr2 connection
0  19590330-2878  19650206-2471   siblings,        personNr1      personNr2 connection
0  19590330-2878  19720613-7684   siblings,        personNr1      personNr2 connection
0  19650206-2471  19720613-7684   siblings]
       personNr1      personNr2 connection
0  19590330-2878  19650206-2471   siblings
1  19590330-2878  19720613-7684   siblings
2  19650206-2471  19720613-7684   siblings
['19681005-8238', '19710802-6028']
2
[       personNr1      personNr2 connection
0  19681005-8238  19710802-6028   siblings]
       personNr1      personNr2 connection
0  19681005-8238  19710802-6028   siblings

['19381207-1696', '19610322-6222']
2
[       personNr1      personNr2 connection
0  19381207-1696  19610322-6222   siblings]
       personNr1      personNr2 connection
0  19381207-1696  19610322-6222   siblings
['19530516-9182', '19580511-3508']
2
[       personNr1      personNr2 connection
0  19530516-9182  19580511-3508   siblings]
       personNr1      personNr2 connection
0  19530516-9182  19580511-3508   siblings
['19510723-8936', '19630224-2584']
2
[       personNr1      personNr2 connection
0  19510723-8936  19630224-2584   siblings]
       personNr1      personNr2 connection
0  19510723-8936  19630224-2584   siblings
['19650503-8656', '19710826-1503']
2
[       personNr1      personNr2 connection
0  19650503-8656  19710826-1503   siblings]
       personNr1      personNr2 connection
0  19650503-8656  19710826-1503   siblings
['19540224-5672', '19700925-7582']
2
['19540224-5672', '19700925-7582']
2
[       personNr1      personNr2 connection
0  19540224-5672  19700925-7582   siblings,        personNr1      personNr2 connection
0  19540224-5672  19700925-7582   siblings]
       personNr1      personNr2 connection
0  19540224-5672  19700925-7582   siblings
['19320821-6476', '19431003-8271', '19660211-6142']
3
[       personNr1      personNr2 connection
0  19320821-6476  19431003-8271   siblings,        personNr1      personNr2 connection
0  19320821-6476  19660211-6142   siblings,        personNr1      personNr2 connection
0  19431003-8271  19660211-6142   siblings]
       personNr1      personNr2 connection
0  19320821-6476  19431003-8271   siblings
1  19320821-6476  19660211-6142   siblings
2  19431003-8271  19660211-6142   siblings
['19530715-6629', '19580331-2683']
2
[       personNr1      personNr2 connection
0  19530715-6629  19580331-2683   siblings]
       personNr1      personNr2 connection
0  19530715-6629  19580331-2683   siblings
['19580203-3515', '19610821-9203']
2
[       personNr1      personNr2 connection
0  19580203-3515  19610821-9203   siblings]
       personNr1      personNr2 connection
0  19580203-3515  19610821-9203   siblings
['19500519-3407', '19541122-1079']
2
[       personNr1      personNr2 connection
0  19500519-3407  19541122-1079   siblings]
       personNr1      personNr2 connection
0  19500519-3407  19541122-1079   siblings
['19340310-5615', '19550515-3421']
2
[       personNr1      personNr2 connection
0  19340310-5615  19550515-3421   siblings]
       personNr1      personNr2 connection
0  19340310-5615  19550515-3421   siblings
['19691115-9896', '19700622-3990']
2
[       personNr1      personNr2 connection
0  19691115-9896  19700622-3990   siblings]
       personNr1      personNr2 connection
0  19691115-9896  19700622-3990   siblings
['19501023-7363', '19510206-8735']
2
[       personNr1      personNr2 connection
0  19501023-7363  19510206-8735   siblings]
       personNr1      personNr2 connection
0  19501023-7363  19510206-8735   siblings
['19510405-4668', '19570316-4897']
2
[       personNr1      personNr2 connection
0  19510405-4668  19570316-4897   siblings]
       personNr1      personNr2 connection
0  19510405-4668  19570316-4897   siblings
['19500413-6721', '19720826-9957']
2
[       personNr1      personNr2 connection
0  19500413-6721  19720826-9957   siblings]
       personNr1      personNr2 connection
0  19500413-6721  19720826-9957   siblings
['19510907-8610', '19660428-5650']
2
['19510907-8610', '19660428-5650']
2
[       personNr1      personNr2 connection
0  19510907-8610  19660428-5650   siblings,        personNr1      personNr2 connection
0  19510907-8610  19660428-5650   siblings]
       personNr1      personNr2 connection
0  19510907-8610  19660428-5650   siblings
['19680418-9669', '19700424-5608']
2
[       personNr1      personNr2 connection
0  19680418-9669  19700424-5608   siblings]
       personNr1      personNr2 connection
0  19680418-9669  19700424-5608   siblings
['19291115-1714', '19510205-7735']
2
[       personNr1      personNr2 connection
0  19291115-1714  19510205-7735   siblings]
       personNr1      personNr2 connection
0  19291115-1714  19510205-7735   siblings
['19560303-7284', '19600328-6463']
2
[       personNr1      personNr2 connection
0  19560303-7284  19600328-6463   siblings]
       personNr1      personNr2 connection
0  19560303-7284  19600328-6463   siblings
['19440530-9582', '19450323-9180', '19590906-9744']
3
[       personNr1      personNr2 connection
0  19440530-9582  19450323-9180   siblings,        personNr1      personNr2 connection
0  19440530-9582  19590906-9744   siblings,        personNr1      personNr2 connection
0  19450323-9180  19590906-9744   siblings]
       personNr1      personNr2 connection
0  19440530-9582  19450323-9180   siblings
1  19440530-9582  19590906-9744   siblings
2  19450323-9180  19590906-9744   siblings

C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({
C:\Users\Inga\AppData\Local\Temp\ipykernel_3464\1858042313.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cousines = cousines.append({

In [384]:
network

          personNr1      personNr2 connection
0     19241106-5535  19080605-8105   child of
1     19240104-4206  19080605-8105   child of
2     19080605-8105  19241106-5535  parent of
3     19080605-8105  19240104-4206  parent of
4     19240104-4206  19241106-5535   siblings
...             ...            ...        ...
5761  19650907-3708  19590423-5699    cousins
5762  19590423-5699  19590423-5699    cousins
5763  19621002-8325  19621002-8325    cousins
5764  19550515-3421  19550515-3421    cousins
5765  19720826-9957  19720826-9957    cousins

[5766 rows x 3 columns]

In [315]:
#basic analysis of network

In [47]:
def find_siblings(family_connections):
    unique_combinations_df = pd.DataFrame()
    selection = family_connections[family_connections["connection"] == "parent of"]
    siblings = selection.merge(selection, how='left', on='personNr1')
    # Find all the siblings (people with the same parent)

    siblings_df = siblings[siblings['personNr2_x'] != siblings['personNr2_y']][['personNr2_x', 'personNr2_y']]

    #unique_combinations_df = siblings_df.drop_duplicates(subset=['personNr2_x', 'personNr2_y'])
    # Convert columns to tuples and drop duplicates
    siblings_df['tuple_key'] = siblings_df[['personNr2_x', 'personNr2_y']].apply(lambda x: tuple(sorted(x)), axis=1)
    unique_combinations_df = siblings_df.drop_duplicates(subset='tuple_key')

    # Drop the temporary column
    unique_combinations_df = unique_combinations_df.drop(columns=['tuple_key'])
    unique_combinations_df['connection'] = 'siblings'

    # Rename columns by removing the suffixes _x and _y
    unique_combinations_df.columns = unique_combinations_df.columns.str.replace('_x', '').str.replace('_y', '')
    
    
    return unique_combinations_df

In [82]:
def find_grandparents(family_connections):
    output = pd.DataFrame()
    selection = family_connections[family_connections["connection"] == "parent of"]
    
    grandparents_options = selection.merge(selection, left_on='personNr1', right_on='personNr2', suffixes=('_childside', '_grandparentside'))
    
    grandparents = grandparents_options[["personNr1_grandparentside", "personNr2_childside" ]]
    #grandparents = grandparents.columns.str.replace('_grandparentside', '').str.replace('_childside', '')
    
    grandparents.columns = ['personNr1', 'personNr2']

    # Add a new column 'connection' with the value 'grandparent of'
    grandparents['connection'] = 'grandparent of'
    
    grandchildren =  grandparents_options[["personNr2_childside", "personNr1_grandparentside" ]]
    grandchildren.columns = ['personNr1', 'personNr2']
    grandchildren['connection'] = 'grandchild of'
    
    output = pd.concat([grandchildren] + [grandparents], ignore_index=True)
    
    
    return output

In [111]:
def find_aunts_uncles(family_connections):
    output1 = pd.DataFrame()
    output2= pd.DataFrame()
    selection_parent = family_connections[family_connections["connection"] == "parent of"]
    selection_sibling = family_connections[family_connections["connection"] == "siblings"]
    
    options1 = selection_parent.merge(selection_sibling, left_on="personNr1", right_on="personNr1", suffixes=('_parent', '_aunt'))
    options2 = selection_parent.merge(selection_sibling, left_on="personNr1", right_on="personNr2", suffixes=('_parent', '_aunt'))
    if not options1.empty:
        aunt_connections = options1[["personNr2_aunt", "personNr2_parent" ]]
        niece_connections = options1[["personNr2_parent", "personNr2_aunt"]]
        #grandparents = grandparents.columns.str.replace('_grandparentside', '').str.replace('_childside', '')
    
        aunt_connections.columns = ['personNr1', 'personNr2']
        niece_connections.columns = ['personNr1', 'personNr2']
        aunt_connections = aunt_connections[aunt_connections['personNr1'] != aunt_connections['personNr2']]
        niece_connections = niece_connections[niece_connections['personNr1'] != niece_connections['personNr2']]

        aunt_connections['connection'] = 'aunt/uncle of'
        niece_connections['connection'] = 'niece/newphew of'
        output1 = pd.concat([aunt_connections] + [niece_connections], ignore_index=True)
    if not options2.empty: 
        aunt_connections = options2[["personNr1_aunt", "personNr2_parent" ]]
        niece_connections = options2[["personNr2_parent", "personNr1_aunt"]]
        #grandparents = grandparents.columns.str.replace('_grandparentside', '').str.replace('_childside', '')
    
        aunt_connections.columns = ['personNr1', 'personNr2']
        niece_connections.columns = ['personNr1', 'personNr2']
        aunt_connections = aunt_connections[aunt_connections['personNr1'] != aunt_connections['personNr2']]
        niece_connections = niece_connections[niece_connections['personNr1'] != niece_connections['personNr2']]


        aunt_connections['connection'] = 'aunt/uncle of'
        niece_connections['connection'] = 'niece/newphew of'
        output2 = pd.concat([aunt_connections] + [niece_connections], ignore_index=True)
    final_output = pd.concat([output1] + [output2], ignore_index=True)
    return final_output

In [420]:
family_connections_data = pd.DataFrame({
    'personNr1': [2, 2, 4],
    'personNr2' : [5,3,7,],
    'connection': ["aunt/uncle of", "parent of", "parent of"]
})

In [423]:
def find_cousins(family_connections):
    #cousines= pd.DataFrame(columns=['personNr1', 'personNr2', 'connection'])
    output2= pd.DataFrame()
    selection_aunts = family_connections[family_connections["connection"] == "aunt/uncle of"]
    selection_parents = family_connections[family_connections["connection"] == "parent of"]
    
    options = selection_aunts.merge(selection_parents, left_on="personNr1", right_on="personNr1", suffixes=('_aunt', '_parent'))
    cousin_connection=  options[["personNr2_aunt", "personNr2_parent" ]]
    
    cousin_connection['tuple_key'] = cousin_connection[["personNr2_aunt", "personNr2_parent"]].apply(lambda x: tuple(sorted(x)), axis=1)
    cousin_connection = cousin_connection.drop_duplicates(subset='tuple_key')

    cousin_connection = pd.DataFrame(cousin_connection['tuple_key'].tolist(), columns=['personNr1', 'personNr2'])
    #cousin_connection.columns = ['personNr1', 'personNr2']
    cousin_connection['connection'] = 'cousins'

    return cousin_connection

In [424]:
print(find_cousins(family_connections_data))

   personNr1  personNr2 connection
0          3          5    cousins

In [315]:
def find_relationships(subset, current_connections):

    couple_relationships = []
    selected = subset[['PersonNr', 'Alder']]
    merged_list = [(x, y) for x in selected['PersonNr'] for y in selected['PersonNr'] if x != y]

    result_list = [
    (
        x,
        y,
        abs(
            selected.loc[selected['PersonNr'] == x, 'Alder'].iloc[0]
            - selected.loc[selected['PersonNr'] == y, 'Alder'].iloc[0]
        ),
    )
    for x, y in merged_list
    if x != y
]

    filtered_list = [(min(x, y), max(x, y)) for x, y, age_diff in result_list if age_diff <= 13]

    unique_combinations_set = set(filtered_list)

    result_dict = {
    'personNr1': [x[0] for x in unique_combinations_set],
    'personNr2': [x[1] for x in unique_combinations_set],
}

    # Filter out the partners that are actually siblings
    if current_connections:
        connections_set = {(row['personNr1'], row['personNr2']) for _, row in current_connections.iterrows() if row['connection'] == 'siblings'}

        filtered_combinations_list = [
        {'personNr1': pair[0], 'personNr2': pair[1]} for pair in zip(result_dict['personNr1'], result_dict['personNr2']) if pair not in connections_set
    ]
        print(filtered_combinations_list)
    couple_relationships = unique_combinations_list
    return unique_combinations_list

In [320]:
##need data for this 

df_data = pd.DataFrame({
    'PersonNr': [2, 3, 4, 5],
    'Alder': [45, 42, 16, 18]
})


connections = [
    {'personNr1': 2, 'personNr2': 5, 'connection': 'parent of'},
    {'personNr1': 2, 'personNr2': 3, 'connection': 'siblings'},
    {'personNr1': 4, 'personNr2': 2, 'connection': 'parent of'}
]

print(connections)

#take care of order and check for sibling

[{'personNr1': 2, 'personNr2': 5, 'connection': 'parent of'}, {'personNr1': 2, 'personNr2': 3, 'connection': 'siblings'}, {'personNr1': 4, 'personNr2': 2, 'connection': 'parent of'}]

In [321]:
print(find_relationships(df_data, connections))

AttributeError: 'list' object has no attribute 'iterrows'

In [383]:
def find_siblings(family_connections):
    unique_combinations_df = pd.DataFrame()
    selection = family_connections[family_connections["connection"] == "parent of"]
    siblings = selection.merge(selection, how='left', on='personNr1')
    # Find all the siblings (people with the same parent)

    siblings_df = siblings[siblings['personNr2_x'] != siblings['personNr2_y']][['personNr2_x', 'personNr2_y']]

    #unique_combinations_df = siblings_df.drop_duplicates(subset=['personNr2_x', 'personNr2_y'])
    # Convert columns to tuples and drop duplicates
    siblings_df['tuple_key'] = siblings_df[['personNr2_x', 'personNr2_y']].apply(lambda x: tuple(sorted(x)), axis=1)
    unique_combinations_df = siblings_df.drop_duplicates(subset='tuple_key')

    # Drop the temporary column
    #unique_combinations_df = unique_combinations_df.drop(columns=['personNr2_x', 'personNr2_y'])
    #unique_combinations_df['connection'] = 'siblings'

    # Rename columns by removing the suffixes _x and _y
    #unique_combinations_df.columns = unique_combinations_df.columns.str.replace('2_x', '1').str.replace('_y', '')
    final_df = pd.DataFrame(unique_combinations_df['tuple_key'].tolist(), columns=['personNr1', 'personNr2'])

    # Add the 'connection' column
    final_df['connection'] = 'siblings'
    
    return final_df

In [390]:
family_connections_data = pd.DataFrame({
    'personNr1': ["223-2", "22-3", "22-3"],
    'personNr2' : ["322-2","19911004-7307","1995-1",],
    'connection': ["aunt/uncle of", "parent of", "parent of"]
})

In [391]:
print(find_siblings(family_connections_data))
outcome = find_siblings(family_connections_data)
print(outcome.dtypes)

       personNr1 personNr2 connection
0  19911004-7307    1995-1   siblings
personNr1     object
personNr2     object
connection    object
dtype: object

In [360]:
# Example DataFrame
data = {'personNr1': [2, 2, 4, 2],
        'personNr2': [1, 1, 5, 1],
        'connection': ['parent of', 'partner of', 'partner of', 'siblings']}
connections = pd.DataFrame(data)

# Filter the DataFrame
connections = connections[~((connections.duplicated(subset=['personNr1', 'personNr2'])) & (connections['connection'] == 'partner of'))]

# Display the result
print(connections)

   personNr1  personNr2  connection
0          2          1   parent of
2          4          5  partner of
3          2          1    siblings

In [417]:
def find_relationships(subset, current_connections):
    #should i change approach here? 
    #couple_relationships = pd.DataFrame(columns=['personNr1', 'personNr2', 'connection'])
    couple_relationships = []
    selected = subset[['PersonNr', 'Alder']]
    selected = selected.sort_values(by="PersonNr")
    print(selected)
    if current_connections:
        current_connections = pd.DataFrame(current_connections, columns= ["personNr1", "personNr2", "connection"])
        connections_exist = True
    else:
        connections_exist = False


    for i in range(len(selected)-1):
        print(i)
        person1 = selected.iat[i, 0]
        print(person1)
        person2 = selected.iat[i+1, 0]
        print("person2")
        print(person2)
        # Calculate age difference
        age_difference = abs(selected.iat[i, 1] - selected.iat[i+1, 1])
        
            #checking if they might be siblings 

        if connections_exist == True:  
            siblings_possible = (((current_connections['personNr1'] == person1) & (current_connections['personNr2'] == person2) & (current_connections['connection'] == "siblings")) | ((current_connections['personNr1'] == person2) & (current_connections['personNr2'] == person1) & (current_connections['connection'] == "siblings")) ).any()
        else:
            siblings_possible=False
            #add check for amount of children (?)
        if age_difference <= 13 and siblings_possible==False:
                #row_data = pd.DataFrame([{'personNr1':person1 , 'personNr2': person2, 'connection': "partner of"}])
                #couple_relationships = pd.concat([couple_relationships, row_data])
            row_data = {'personNr1': person1, 'personNr2': person2, 'connection': "partner of"}
            couple_relationships.extend([row_data])

       
    return couple_relationships

In [419]:
data = {'personNr1': ["23-3", "222-3", "433-2"],
        'personNr2': ["133-2", "23-3", "533-2"],
        'connection': ['parent of', 'partner of', 'partner of']}

data1 = {'PersonNr': ["19911004-7307", "1995-1", "433-2"],
        'Alder': [18, 19, 60]}
connections = [{'personNr1': p1, 'personNr2': p2, 'connection': conn} for p1, p2, conn in zip(data['personNr1'], data['personNr2'], data['connection'])]
print(connections)
print(pd.DataFrame(connections))

print(pd.DataFrame(find_relationships(pd.DataFrame(data1), data)))

outcome1 = pd.DataFrame(find_relationships(pd.DataFrame(data1), data))

print(outcome.dtypes)

print(pd.concat([outcome, outcome1]))
filtered_df = pd.concat([outcome, outcome1])
print(filtered_df[(filtered_df.duplicated(subset=['personNr1', 'personNr2']))])

[{'personNr1': '23-3', 'personNr2': '133-2', 'connection': 'parent of'}, {'personNr1': '222-3', 'personNr2': '23-3', 'connection': 'partner of'}, {'personNr1': '433-2', 'personNr2': '533-2', 'connection': 'partner of'}]
  personNr1 personNr2  connection
0      23-3     133-2   parent of
1     222-3      23-3  partner of
2     433-2     533-2  partner of
        PersonNr  Alder
0  19911004-7307     18
1         1995-1     19
2          433-2     60
0
19911004-7307
person2
1995-1
1
1995-1
person2
433-2
       personNr1 personNr2  connection
0  19911004-7307    1995-1  partner of
        PersonNr  Alder
0  19911004-7307     18
1         1995-1     19
2          433-2     60
0
19911004-7307
person2
1995-1
1
1995-1
person2
433-2
personNr1     object
personNr2     object
connection    object
dtype: object
       personNr1 personNr2  connection
0  19911004-7307    1995-1    siblings
0  19911004-7307    1995-1  partner of
       personNr1 personNr2  connection
0  19911004-7307    1995-1  partner of

In [397]:
def find_parent_child_relationship(subset, current_year):
    parent_relationships = []
    #also checking for 15, as some 15 year olds have been present in the data

    #probably a more elegant way to do this, but this is to make sure we match parent with a child in a right age group

    #could maybe be stored outside of this
    if current_year <= 2003:
        #parents_exist = len(subset[(subset['Barn18plus']>0) | (subset['Barn11_15']>0) |  (subset['Barn16_17'] >0 )  ]) > 0
        age_conditions_parents = [
        ('parents_18plus', subset['Barn18plus'] > 0),
        ('parents11_15', subset['Barn11_15'] > 0),
        ('parents16_17', subset['Barn16_17'] > 0),
        ]
        age_conditions_children = [
        ('children_18plus', subset['Alder'] >= 18),
        ('children11_15', subset['Alder'].between(11, 15)),
        ('children16_17', subset['Alder'].between(16, 17)),
        ]
        
    #add an else if here?
    else: 
        #parents_exist = len(subset[(subset['Barn11_15']>0) |  (subset['Barn16_17'] >0 )  | (subset['Barn18_19'] > 0) | (subset['Barn20plus'] >0 )]) > 0
        age_conditions_parents = [
        ('parents11_15', subset['Barn11_15'] > 0),
        ('parents16_17', subset['Barn16_17'] > 0),
        ('parents18_19', subset['Barn18_19'] > 0),
        ('parents_20plus', subset['Barn20plus'] > 0),
        ]
        #children = subset[subset['Alder'] >= 15]
        age_conditions_children = [
        ('children11_15', subset['Alder'].between(11, 15)),
        ('children16_17', subset['Alder'].between(16, 17)),
        ('children18_19', subset['Alder'].between(18, 19)),
        ('children_20plus', subset['Alder'] >= 20),  
        ]
    #children_list = []
    for (_, parent_condition), (_, children_condition) in zip(age_conditions_parents, age_conditions_children):

        parents = subset[parent_condition]
        children = subset[children_condition]

        if not children.empty and not parents.empty:
            for _, parent in parents.iterrows():
                age_difference = parent["Alder"] - children["Alder"]
                eligible_children = children[age_difference > 15]
                if not eligible_children.empty:
                    for _,child in eligible_children.iterrows():
                    # Assuming "Kön" is a column indicating gender
                    #gender = 'mother' if parent['Kön'] == 'female' else 'father'
                        
                        # Create DataFrame for each parent-child relationship
                        child_data = {'personNr1': child["PersonNr"],
                                    'personNr2': parent["PersonNr"],
                                'connection': "child of"}

                        parent_data = {'personNr1': parent["PersonNr"],
                                        'personNr2': child["PersonNr"],
                                        'connection': "parent of"}
                        parent_relationships.extend([child_data, parent_data])
                        
                        #parent_relationships.extend([pd.DataFrame(child_data), pd.DataFrame(parent_data)])
                            #print(eligible_children)
                    if len(eligible_children)>1:
                        personNr2_list = eligible_children['PersonNr'].tolist()
                        personNr2_list = sorted(personNr2_list)
                        if len(personNr2_list) == 2:
                            # If length is 2, create a single row with 'siblings' as the connection
                            row_data = {'personNr1': personNr2_list[0], 'personNr2': personNr2_list[1], 'connection': 'siblings'}
                            parent_relationships.extend([row_data])
                                    
                        elif len(personNr2_list) > 2:
                            # If length is greater than 2, create rows for all combinations
                            for pair in combinations(personNr2_list, 2):
                                row_data = {'personNr1': pair[0], 'personNr2': pair[1], 'connection': 'siblings'}
                                #dfs_to_concat.extend([pd.DataFrame(row_data)])
                                parent_relationships.extend([row_data])


    if not parent_relationships:
        parent_relationships = []

            
    return parent_relationships

In [398]:
data = {'personNr1': [2, 2, 4],
        'personNr2': [1, 1, 5],
        'connection': ['parent of', 'partner of', 'partner of']}

data1 = {'PersonNr': [2, 1, 4],
        'Alder': [18, 19, 60]}
connections = [{'personNr1': p1, 'personNr2': p2, 'connection': conn} for p1, p2, conn in zip(data['personNr1'], data['personNr2'], data['connection'])]
print(connections)
print(pd.DataFrame(connections))

print(find_parent_child_relationship(pd.DataFrame(data1), 2004))

[{'personNr1': 2, 'personNr2': 1, 'connection': 'parent of'}, {'personNr1': 2, 'personNr2': 1, 'connection': 'partner of'}, {'personNr1': 4, 'personNr2': 5, 'connection': 'partner of'}]
   personNr1  personNr2  connection
0          2          1   parent of
1          2          1  partner of
2          4          5  partner of

KeyError: 'Barn11_15'

In [442]:
def find_relationships_grouped(group):
    couple_relationships = pd.DataFrame()

    # Assuming the DataFrame is already sorted by 'PersonNr' within each group
    selected = group[['PersonNr', 'Alder']]

    for i in range(len(selected) - 1):
        age_difference = abs(selected.iloc[i, 1] - selected.iloc[i+1, 1])

        if age_difference <= 13:
            relationship_row = pd.DataFrame({
                'personNr1': selected.iloc[i, 0],
                'personNr2': selected.iloc[i+1, 0],
                'connection': "partner of"
            }, index=[0])

            couple_relationships = pd.concat([couple_relationships, relationship_row], ignore_index=True)

    return couple_relationships

In [445]:
num_rows = 100
data = {
    'group_col': np.random.choice(['A', 'B', 'C'], num_rows),
    'PersonNr': np.arange(1, num_rows + 1),
    'Alder': np.random.randint(18, 60, num_rows)
}
df = pd.DataFrame(data)
grouped_df = df.groupby('group_col')

result_per_group = grouped_df.apply(find_relationships_grouped)
# Concatenate the lists into a single list
result_df = grouped_df.apply(find_relationships_grouped).reset_index(drop=True)
print(result_df)

# Convert the list of dictionaries to a DataFrame

#print(result_df)

    personNr1  personNr2  connection
0          20         27  partner of
1          27         28  partner of
2          28         29  partner of
3          38         39  partner of
4          43         50  partner of
5          56         57  partner of
6          65         66  partner of
7          66         69  partner of
8          69         71  partner of
9          75         77  partner of
10         77         80  partner of
11         80         82  partner of
12         83         84  partner of
13         95         96  partner of
14         96         99  partner of
15         99        100  partner of
16          4          8  partner of
17         14         21  partner of
18         21         24  partner of
19         24         30  partner of
20         30         31  partner of
21         33         37  partner of
22         41         44  partner of
23         51         55  partner of
24         55         63  partner of
25         63         64  partner of
26         67         73  partner of
27         81         87  partner of
28         87         88  partner of
29         88         89  partner of
30         92         94  partner of
31         94         97  partner of
32          2          6  partner of
33          9         13  partner of
34         13         15  partner of
35         16         17  partner of
36         17         22  partner of
37         22         23  partner of
38         25         26  partner of
39         26         34  partner of
40         34         35  partner of
41         35         42  partner of
42         42         46  partner of
43         46         48  partner of
44         49         52  partner of
45         52         59  partner of
46         59         60  partner of
47         60         68  partner of
48         78         79  partner of
49         79         86  partner of
50         91         93  partner of
51         93         98  partner of